<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		
		<!--<add name="MySQLConnector" connectionString="Server=127.0.0.1;uid=root;pwd=1010;database=dbo;" providerName="MySql.Data.MySqlClient"/>

		<add name="MsSQLConnector" connectionString="data source=RELI-HP\RELIP1;initial catalog=Hydra2_AdminDB_1;integrated security=True;multipleactiveresultsets=False;" providerName="System.Data.SqlClient"/>

		<add name="MabaDatabase" connectionString= "Server=DEV2\\SQLEXPRESS;Database=MabaDB;" providerName="MySql.Data.MySqlClient"/>-->

		<add name="KyulanSyncDB" connectionString="Server=pri-test\PRI;Database=Calibrator; User Id=kyulan;Password=abam;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="Recodrs" connectionString="Server=pri-test\PRI;Database=Calibrator;    User Id=kyulan;Password=abam;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />


	</connectionStrings>

	<!-- "MabaDatabase": "Server=DEV2\\SQLEXPRESS;Database=MabaDB; User Id=mabawebuser;Password=abam1; TrustServerCertificate=True;", -->
	<!-- "CentralMabaDB": "Server=PARDESIA3\\SQLEXPRESS;Database=CentralMabaDB; User Id=kyulan;Password=abam;TrustServerCertificate=True;", -->
	<!-- "PriorityKyulSyncDB": "Server=PRI-TEST\\PRI;Database=priority_kyul; User Id=kyulan;Password=abam;TrustServerCertificate=True;" -->
	<!--},-->
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>
