
.marginTop20{
        margin-top: 30px;
}


.programTable tbody tr{
   height: 35px;
  
}

.programTable tbody tr td, .programTable thead tr th {
     border: 1px solid lightgray;
    padding:7px;
    
}
.programTable thead{
        background-color: #B3A7A7;
}
.programTableDivTitle{
    background: #77818C;
    border: 1px solid #b3bfd0;
    height: 50px;
    width: 100%;
    padding: 7px;
    color: grey;
}


.table-responsive {
    padding-top: 0; 
}
.ui-widget-header{
    background: none;
}
.ui-widget-content .ui-state-default { background: grey; }
/*.ui-widget-content{
   background:green;
}*/
