USE [master]
GO
/****** Object:  Database [Identity2Admin]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE DATABASE [Identity2Admin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Identity2Admin', FILENAME = N'K:\DB\IdentityAdmin2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Identity2Admin_log', FILENAME = N'K:\DB\IdentityAdmin_log2.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Identity2Admin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Identity2Admin]
GO
/****** Object:  User [RemoteSQL]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE USER [RemoteSQL] FOR LOGIN [RemoteSQL] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BUILTIN\Users]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE USER [BUILTIN\Users] FOR LOGIN [BUILTIN\Users]
GO
ALTER ROLE [db_owner] ADD MEMBER [BUILTIN\Users]
GO
/****** Object:  Schema [RoleManager]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE SCHEMA [RoleManager]
GO
/****** Object:  Schema [Types]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE SCHEMA [Types]
GO
/****** Object:  Schema [UserManager]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE SCHEMA [UserManager]
GO
/****** Object:  UserDefinedFunction [Types].[ManualOffsetTime]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [Types].[ManualOffsetTime]
(
	@ManualOffset int,
	@GMTOffset     int,
	@IsDaylightTime bit
)
RETURNS int
AS
BEGIN

DECLARE @Offset int



	if(@ManualOffset is null)
		BEGIN
			SET @Offset= (SELECT  
				CASE WHEN (@IsDaylightTime =1)
				THEN  
					@GMTOffset+60 
				ELSE	
					@GMTOffset 
			END)
		END
		ELSE
		BEGIN
			SET @Offset=@ManualOffset
		END
		
return @Offset
END





GO
/****** Object:  Table [RoleManager].[Roles]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RoleManager].[Roles](
	[RoleID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[RoleGroup] [int] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [RoleManager].[UserRoles]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RoleManager].[UserRoles](
	[UserID] [bigint] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_RoleManager.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Types].[GlobalizationZone]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Types].[GlobalizationZone](
	[ZoneID] [int] NOT NULL,
	[SystemZoneID] [varchar](100) NOT NULL,
	[DisplayName] [varchar](100) NOT NULL,
	[DaylightName] [varchar](100) NULL,
	[StandardName] [varchar](100) NULL,
	[GMTOffset] [int] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[ManualOffset] [int] NULL,
	[IsDaylightTime] [bit] NULL,
	[ActualOffset]  AS ([Types].[ManualOffsetTime]([ManualOffset],[GMTOffset],[IsDaylightTime])),
 CONSTRAINT [PK_SystemGlobalizationZone] PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Types].[TemperatureUnit]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Types].[TemperatureUnit](
	[TypeUnitID] [int] NOT NULL,
	[DisplayName] [varchar](50) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[DisplayUnit] [varchar](20) NULL,
 CONSTRAINT [PK_Account_Types.TemperatureUnit] PRIMARY KEY CLUSTERED 
(
	[TypeUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Types].[UIFormat]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Types].[UIFormat](
	[UIFormatID] [int] NOT NULL,
	[LongDatePattern] [varchar](50) NULL,
	[ShortDatePattern] [varchar](50) NULL,
	[ShortTimePattern] [varchar](50) NULL,
	[LongTimePattern] [varchar](50) NULL,
	[CultureCode] [varchar](10) NULL,
	[YearMonthPattern] [varchar](50) NULL,
	[DisplayName] [varchar](50) NOT NULL,
	[IsRightToLeft] [bit] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[StartDayOfWeek] [tinyint] NOT NULL,
	[FlagIcon] [varchar](100) NULL,
 CONSTRAINT [PK_Account_Types.UIFormat] PRIMARY KEY CLUSTERED 
(
	[UIFormatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [UserManager].[ApplicationUser]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserManager].[ApplicationUser](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[UserGuid] [varchar](80) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UpdateVersion] [int] NOT NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[StreetName] [nvarchar](50) NULL,
	[StreetNo] [int] NULL,
	[Email] [nvarchar](50) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[PhoneNumberChangeToken] [varchar](10) NULL,
	[PhoneConfirmed] [bit] NOT NULL,
	[UIFormatID] [int] NOT NULL,
	[UserLongDatePattern] [varchar](50) NULL,
	[UserShortDatePattern] [varchar](50) NULL,
	[UserShortTimePattern] [varchar](50) NULL,
	[UserLongTimePattern] [varchar](50) NULL,
	[SecurityStamp] [varchar](50) NULL,
	[PasswordHash] [varchar](100) NULL,
	[TimeZoneID] [int] NOT NULL,
	[TemperatureUnitID] [int] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[AlwaysValid] [bit] NOT NULL,
	[AccessFailedCount] [int] NULL,
	[LastFailedLoginDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[ImgURL] [varchar](100) NULL,
	[LastLoginDateUtc] [datetime] NULL,
 CONSTRAINT [PK_ApplicationUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [UserManager].[UserClaim]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserManager].[UserClaim](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ClaimType] [varchar](100) NOT NULL,
	[ClaimValue] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserClaim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [UserManager].[UserLogin]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserManager].[UserLogin](
	[ID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ProviderKey] [varchar](128) NOT NULL,
	[LoginProvider] [varchar](128) NOT NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ApplicationUser] ON [UserManager].[ApplicationUser]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserClaim]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserClaim] ON [UserManager].[UserClaim]
(
	[UserID] ASC,
	[ClaimType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserLogin]    Script Date: 10/30/2016 7:12:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserLogin] ON [UserManager].[UserLogin]
(
	[UserID] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Types].[TemperatureUnit] ADD  CONSTRAINT [DF_TemperatureUnit_TypeUnitID]  DEFAULT ((10)) FOR [TypeUnitID]
GO
ALTER TABLE [Types].[TemperatureUnit] ADD  CONSTRAINT [DF_TemperatureUnit_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [Types].[UIFormat] ADD  CONSTRAINT [DF_UserManager_Types.UIFormat_IsRightToLeft]  DEFAULT ((0)) FOR [IsRightToLeft]
GO
ALTER TABLE [Types].[UIFormat] ADD  CONSTRAINT [DF_UserManager_Types.UIFormat_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [Types].[UIFormat] ADD  CONSTRAINT [DF_UserManager_Types.UIFormat_StartDayOfWeek]  DEFAULT ((0)) FOR [StartDayOfWeek]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_CreationDate]  DEFAULT (getutcdate()) FOR [CreationDate]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_UpdateDate]  DEFAULT (getutcdate()) FOR [UpdateDate]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_Version]  DEFAULT ((0)) FOR [UpdateVersion]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_EmailConfirmed]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_PhoneConfirmed]  DEFAULT ((0)) FOR [PhoneConfirmed]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_UIFormatID]  DEFAULT ((0)) FOR [UIFormatID]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_TwoFactorEnabled]  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_AlwaysValid]  DEFAULT ((1)) FOR [AlwaysValid]
GO
ALTER TABLE [RoleManager].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_RoleManager.UserRoles_Roles] FOREIGN KEY([RoleID])
REFERENCES [RoleManager].[Roles] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [RoleManager].[UserRoles] CHECK CONSTRAINT [FK_RoleManager.UserRoles_Roles]
GO
ALTER TABLE [RoleManager].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_ApplicationUser] FOREIGN KEY([UserID])
REFERENCES [UserManager].[ApplicationUser] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [RoleManager].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_ApplicationUser]
GO
ALTER TABLE [UserManager].[ApplicationUser]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationUser_GlobalizationZone] FOREIGN KEY([TimeZoneID])
REFERENCES [Types].[GlobalizationZone] ([ZoneID])
GO
ALTER TABLE [UserManager].[ApplicationUser] CHECK CONSTRAINT [FK_ApplicationUser_GlobalizationZone]
GO
ALTER TABLE [UserManager].[ApplicationUser]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationUser_TemperatureUnit] FOREIGN KEY([TemperatureUnitID])
REFERENCES [Types].[TemperatureUnit] ([TypeUnitID])
GO
ALTER TABLE [UserManager].[ApplicationUser] CHECK CONSTRAINT [FK_ApplicationUser_TemperatureUnit]
GO
ALTER TABLE [UserManager].[ApplicationUser]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationUser_UIFormat] FOREIGN KEY([UIFormatID])
REFERENCES [Types].[UIFormat] ([UIFormatID])
GO
ALTER TABLE [UserManager].[ApplicationUser] CHECK CONSTRAINT [FK_ApplicationUser_UIFormat]
GO
ALTER TABLE [UserManager].[UserClaim]  WITH CHECK ADD  CONSTRAINT [FK_UserClaim_ApplicationUser] FOREIGN KEY([UserID])
REFERENCES [UserManager].[ApplicationUser] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [UserManager].[UserClaim] CHECK CONSTRAINT [FK_UserClaim_ApplicationUser]
GO
ALTER TABLE [UserManager].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_ApplicationUser] FOREIGN KEY([UserID])
REFERENCES [UserManager].[ApplicationUser] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [UserManager].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_ApplicationUser]
GO
/****** Object:  StoredProcedure [RoleManager].[IsUserHasRole]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[IsUserHasRole]
	-- Add the parameters for the stored procedure here
	@UserID		BIGINT,
	@RoleID		INT	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if EXISTS(SELECT 1 
				FROM [RoleManager].[UserRoles]
				WHERE [UserID] = @UserID AND [RoleID] = @RoleID)
	BEGIN
			RETURN 1;
	END
	ELSE
	BEGIN
		RETURN 0;	
	END 
	
END





GO
/****** Object:  StoredProcedure [RoleManager].[Role_Create]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_Create]
	-- Add the parameters for the stored procedure here
		@Name		VARCHAR(100),
		@Id         INT,
		@RoleGroup	INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF NOT EXISTS (	SELECT 1
					FROM [RoleManager].[Roles]
					WHERE RoleId =@Id )
	BEGIN

		INSERT RoleManager.Roles
			(RoleID, [Name], RoleGroup)
		VALUES
			(@Id, @Name, @RoleGroup)

	END
	
END





GO
/****** Object:  StoredProcedure [RoleManager].[Role_DeleteById]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_DeleteById]
	-- Add the parameters for the stored procedure here
		
		@Id         INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	DELETE FROM [RoleManager].[Roles]
	WHERE RoleID = @Id

	RETURN 1;
END





GO
/****** Object:  StoredProcedure [RoleManager].[Role_DeleteByName]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_DeleteByName]
	@Name         VARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	DELETE FROM [RoleManager].[Roles]
	WHERE Name = @Name

	RETURN 1;
END





GO
/****** Object:  StoredProcedure [RoleManager].[Role_FindById]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_FindById]
	-- Add the parameters for the stored procedure here
		@Id		INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	
SELECT [RoleID]
	  ,[Name]
  FROM [RoleManager].[Roles]
  WHERE [RoleID] =@Id
	
END





GO
/****** Object:  StoredProcedure [RoleManager].[Role_FindByName]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_FindByName]
	@Name		VARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [RoleID]
		  ,[Name]
	FROM [RoleManager].[Roles]
	WHERE [Name] = @Name
	
END


GO
/****** Object:  StoredProcedure [RoleManager].[Role_GetAll]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_GetAll]
		@FilterGroup	INT		= NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	SELECT *
	FROM RoleManager.Roles
	WHERE @FilterGroup IS NULL OR RoleGroup = @FilterGroup
	
END

GO
/****** Object:  StoredProcedure [RoleManager].[Role_GetUserRoles]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_GetUserRoles]
	-- Add the parameters for the stored procedure here
		@UserID			BIGINT,
		@FilterGroup	INT			= NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	  SELECT	UserRoles.*, 
				SystemRoles.[Name],
				SystemRoles.RoleGroup
	  FROM [RoleManager].[UserRoles] As UserRoles
		INNER JOIN [RoleManager].Roles AS SystemRoles ON SystemRoles.RoleID = UserRoles.RoleID
	  WHERE [UserID] = @UserID
			AND (@FilterGroup IS NULL OR SystemRoles.RoleGroup = @FilterGroup)
	
END





GO
/****** Object:  StoredProcedure [RoleManager].[Role_RemoveUserRole]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_RemoveUserRole]
	-- Add the parameters for the stored procedure here
		@UserID		BIGINT,
		@RoleID		INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	DELETE FROM [RoleManager].[UserRoles]
	WHERE UserID = @UserID AND  RoleID =  @RoleID
	 
	
END





GO
/****** Object:  StoredProcedure [RoleManager].[Role_Update]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_Update]
	-- Add the parameters for the stored procedure here
		@Name		varchar(100),
		@Id         INT,
		@RoleGroup	INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	UPDATE [RoleManager].[Roles]
	SET		[Name] = @Name,
			[RoleGroup] = @RoleGroup
	WHERE RoleID = @Id

END





GO
/****** Object:  StoredProcedure [RoleManager].[Role_UserInsertRole]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_UserInsertRole]
	-- Add the parameters for the stored procedure here
		@UserID		BIGINT,
		@RoleID		INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (NOT EXISTS (SELECT 1
					FROM [RoleManager].[UserRoles]
					WHERE RoleID = @RoleID AND UserID = @UserID))
	BEGIN

		INSERT INTO [RoleManager].[UserRoles]
			   ([UserID]
			   ,[RoleID])
		 VALUES
			   (@UserID
			   ,@RoleID) 
	
	END

END





GO
/****** Object:  StoredProcedure [Types].[GetSystemCultureCode]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Types].[GetSystemCultureCode]
	-- Add the parameters for the stored procedure here

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
	SELECT *
    FROM [Types].UIFormat
		 
END






GO
/****** Object:  StoredProcedure [Types].[GetSystemTemperatureUnit]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Types].[GetSystemTemperatureUnit]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
	SELECT *
    FROM [Types].TemperatureUnit
		 
END

GO
/****** Object:  StoredProcedure [Types].[GetSystemTimeZone]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Types].[GetSystemTimeZone]
	-- Add the parameters for the stored procedure here

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
	SELECT [ZoneID]
      ,[SystemZoneID]
      ,[DisplayName]
      ,[DaylightName]
      ,[StandardName]
      ,[GMTOffset]
      ,[IsDefault]
      ,[ManualOffset]
      ,[IsDaylightTime]
      ,[ActualOffset]
  FROM Types.[GlobalizationZone]
		 
END





GO
/****** Object:  StoredProcedure [UserManager].[User_AddClaim]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_AddClaim]
	@UserID     BIGINT,
	@Value		NVARCHAR(50),
	@Type		NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	DECLARE @ExistsClaimID BIGINT = NULL
  
	UPDATE	UserManager.UserClaim
		SET ClaimValue	= @Value
	WHERE ClaimType = @Type AND UserID = @UserID

	IF (@@ROWCOUNT = 0)
	BEGIN
		INSERT INTO [UserManager].[UserClaim]
			   (UserID
			   ,[ClaimType]
			   ,[ClaimValue])
		 VALUES
			   (@UserID
			   ,@Type
			   ,@Value)
	END
	
END





GO
/****** Object:  StoredProcedure [UserManager].[User_AddUserLogin]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_AddUserLogin]
	-- Add the parameters for the stored procedure here
		@LoginProvider	NVARCHAR(128),
		@ProviderKey	NVARCHAR(128),
		@UserId			BIGINT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	if  NOT EXISTS(SELECT  1 FROM [UserManager].[UserLogin]
					WHERE [UserID] = @UserId 
					AND [ProviderKey] = @ProviderKey 
					AND @LoginProvider = [LoginProvider])

	BEGIN
	INSERT INTO [UserManager].[UserLogin]
		   ([UserID]
		   ,[ProviderKey]
		   ,[LoginProvider])
	 VALUES
		   (@UserId
		   ,@ProviderKey
		   ,@LoginProvider)

	   END
END





GO
/****** Object:  StoredProcedure [UserManager].[User_Create]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_Create]
	@UseDefaultTypes			BIT				= 0,
	@UserGuid					VARCHAR(80),
	@UserName					NVARCHAR(50),
	@Version					NVARCHAR(50)	= 0,

	@City						NVARCHAR(50)	= NULL,
	@Country					NVARCHAR(50)	= NULL,
	@FirstName					NVARCHAR(50)	= NULL,
	@LastName					NVARCHAR(50)	= NULL,
	@ZipCode					NVARCHAR(20)	= NULL,
	@StreetName					NVARCHAR(50)	= NULL,
	@StreetNo					NVARCHAR(50)	= NULL,

	@Email						NVARCHAR(50),
	@EmailConfirmed				BIT,
	@PhoneNumber				VARCHAR(20),
	@PhoneConfirmed				BIT,

	@UIFormatID					INT,
	@CustomLongDatePattern		VARCHAR(50),
	@CustomLongTimePattern		VARCHAR(50),
	@CustomShortDatePattern		VARCHAR(50),
	@CustomShortTimePattern		VARCHAR(50),

	@SecurityStamp				VARCHAR(50),
	@PasswordHash				VARCHAR(100),

	@TimeZoneID					INT				= NULL,
	@TemperatureUnitID			INT				= NULL
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (@UseDefaultTypes = 1 OR @TimeZoneID IS NULL)
	BEGIN
		SELECT TOP(1) @TimeZoneID = ZoneID
		FROM Types.GlobalizationZone
		ORDER BY IsDefault DESC 
	END  

	IF (@UseDefaultTypes = 1 OR @TemperatureUnitID IS NULL)
	BEGIN  
		SELECT TOP(1) @TemperatureUnitID = TypeUnitID
		FROM Types.TemperatureUnit
		ORDER BY IsDefault DESC   
	END 

	IF (@UseDefaultTypes = 1 OR @UIFormatID IS NULL)
	BEGIN  
		SELECT TOP(1) @UIFormatID = UIFormatID
		FROM Types.UIFormat
		ORDER BY IsDefault DESC   
	END 

	INSERT INTO [UserManager].[ApplicationUser]
			   ([UserGuid]
			   ,[UserName]
			   ,[UpdateVersion]
			   ,[City]
			   ,[Country]
			   ,[FirstName]
			   ,[LastName]
			   ,[ZipCode]
			   ,[StreetName]
			   ,[StreetNo]
			   ,[Email]
			   ,[EmailConfirmed]
			   ,[PhoneNumber]
			   ,[PhoneConfirmed]
			   ,[UIFormatID]
			   ,[UserLongDatePattern]
			   ,[UserShortDatePattern]
			   ,[UserShortTimePattern]
			   ,[UserLongTimePattern]
			   ,[SecurityStamp]
			   ,[PasswordHash]
			   ,[TimeZoneID]
			   ,[TemperatureUnitID])
		 VALUES
			   (@UserGuid
			   ,@UserName
			   ,@Version
			   ,@City
			   ,@Country
			   ,@FirstName
			   ,@LastName
			   ,@ZipCode
			   ,@StreetName
			   ,@StreetNo
			   ,@Email
			   ,@EmailConfirmed
			   ,@PhoneNumber
			   ,@PhoneConfirmed
			   ,@UIFormatID
			   ,@CustomLongDatePattern
			   ,@CustomShortDatePattern
			   ,@CustomShortTimePattern
			   ,@CustomLongTimePattern
			   ,@SecurityStamp
			   ,@PasswordHash
			   ,@TimeZoneID
			   ,@TemperatureUnitID)

	RETURN SCOPE_IDENTITY()
		 
END



GO
/****** Object:  StoredProcedure [UserManager].[User_DeleteByEmail]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_DeleteByEmail]
	-- Add the parameters for the stored procedure here
	@Email VARCHAR(50)
	
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM [UserManager].ApplicationUser
	WHERE Email = @Email
	
END



GO
/****** Object:  StoredProcedure [UserManager].[User_DeleteById]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_DeleteById]
	-- Add the parameters for the stored procedure here
	@Id    bigint
	
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM [UserManager].ApplicationUser
	WHERE UserID = @Id
	
END



GO
/****** Object:  StoredProcedure [UserManager].[User_FindById]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_FindById]
	@UserID		BIGINT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @UserEmail NVARCHAR(50) = NULL

	SELECT @UserEmail = Email
	FROM UserManager.ApplicationUser
	WHERE UserID = @UserID 

	IF (@UserEmail IS NULL)
		RETURN;

	EXEC UserManager.User_GetUserByEmail @Email = @UserEmail
	
END



GO
/****** Object:  StoredProcedure [UserManager].[User_FindByLoginUser]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_FindByLoginUser]
	@LoginProvider NVARCHAR(128),
	@ProviderKey   NVARCHAR(128)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @UserID BIGINT = NULL
    
	SELECT  @UserID = UserID
	FROM [UserManager].UserLogin
	WHERE LoginProvider = @LoginProvider 
	AND ProviderKey =  @ProviderKey

	IF (@UserID IS NULL)
		RETURN;

	DECLARE @UserEmail NVARCHAR(50) = NULL

	SELECT @UserEmail = Email
	FROM UserManager.ApplicationUser
	WHERE UserID = @UserID 

	IF (@UserEmail IS NULL)
		RETURN;

	EXEC UserManager.User_GetUserByEmail @Email = @UserEmail
 
END


GO
/****** Object:  StoredProcedure [UserManager].[User_FindByName]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_FindByName]
	-- Add the parameters for the stored procedure here
	@UserName NVARCHAR(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @UserEmail NVARCHAR(50) = NULL

	SELECT @UserEmail = Email
	FROM UserManager.ApplicationUser
	WHERE Username = @UserName 

	IF (@UserEmail IS NULL)
		RETURN;


	EXEC UserManager.User_GetUserByEmail @Email = @UserEmail

END


GO
/****** Object:  StoredProcedure [UserManager].[User_GetClaims]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_GetClaims]
	-- Add the parameters for the stored procedure here
		@UserId		BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	SELECT UserID
	  ,[ClaimType]
	  ,[ClaimValue]
  FROM [UserManager].[UserClaim]
  WHERE [UserID] =@UserId
	
END






GO
/****** Object:  StoredProcedure [UserManager].[User_GetPhoneNumberChangeToken]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_GetPhoneNumberChangeToken]
	@UserID						BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT UserID, PhoneNumberChangeToken
	FROM UserManager.ApplicationUser
	WHERE UserID = @UserID
		 
END



GO
/****** Object:  StoredProcedure [UserManager].[User_GetUserByEmail]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_GetUserByEmail]
	-- Add the parameters for the stored procedure here
	@Email		NVARCHAR(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT 
			ApplicationUser.*,
			UIFormat.CultureCode ,
			TIMEZone.ActualOffset,
			( CASE 
						  WHEN ApplicationUser.UserLongDatePattern IS NOT NULL
							 THEN ApplicationUser.UserLongDatePattern 
						  ELSE UIFormat.LongDatePattern 
					 END ) AS LongDatePattern,
			(CASE 
						  WHEN ApplicationUser.UserShortDatePattern IS NOT NULL
							 THEN ApplicationUser.UserShortDatePattern 
						  ELSE UIFormat.ShortDatePattern 
					 END ) AS ShortDatePattern,
			( CASE 
						  WHEN ApplicationUser.UserShortTimePattern IS NOT NULL
							 THEN ApplicationUser.UserShortTimePattern 
						  ELSE UIFormat.ShortTimePattern 
					 END ) AS ShortTimePattern,
			( CASE 
						  WHEN ApplicationUser.UserLongTimePattern IS NOT NULL
							 THEN ApplicationUser.UserLongTimePattern 
						  ELSE UIFormat.LongTimePattern 
					 END ) AS LongTimePattern,
			TUnit.DisplayUnit AS Temperature_UnitView,
			TUnit.DisplayName AS Temperature_DisplayName
		FROM [UserManager].ApplicationUser AS ApplicationUser
			INNER JOIN Types.UIFormat UIFormat ON UIFormat.UIFormatID = ApplicationUser.UIFormatID
			INNER JOIN Types.GlobalizationZone AS TIMEZone ON TIMEZone.ZoneID = ApplicationUser.TimeZoneID
			INNER JOIN Types.TemperatureUnit AS TUnit ON TUnit.TypeUnitID =  ApplicationUser.TemperatureUnitID
	    WHERE [Email] = @Email
END



GO
/****** Object:  StoredProcedure [UserManager].[User_GetUserLogins]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_GetUserLogins]
	@UserID				BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	SELECT *
	FROM [UserManager].[UserLogin]
	WHERE  [UserID] = @UserID 
	
END


GO
/****** Object:  StoredProcedure [UserManager].[User_RemoveClaim]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_RemoveClaim]
	@UserID     BIGINT,
	@Type		VARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
	DELETE FROM [UserManager].[UserClaim]
	WHERE [UserId] = @UserID AND [ClaimType] = @Type
	
END


GO
/****** Object:  StoredProcedure [UserManager].[User_RemoveUserLogin]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_RemoveUserLogin]
	-- Add the parameters for the stored procedure here
		@LoginProvider NVARCHAR(128),
		@ProviderKey   NVARCHAR(128),
		@UserId		   bigint 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	DELETE FROM [UserManager].[UserLogin]
	WHERE  [UserID] = @UserId 
	AND [ProviderKey] = @ProviderKey 
	AND [LoginProvider] = @LoginProvider
	
END





GO
/****** Object:  StoredProcedure [UserManager].[User_Update]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_Update]
	@UserID						BIGINT,
	@Version					INT				= NULL,

	@LockoutEnabled				BIT				= 0,
	@LockoutEndDateUtc			DATETIME		= NULL,
	@AccessFailedCount			INT				= NULL,

	@LastFailedLoginDateUtc		DATETIME		= NULL,
	@LastLoginDateUtc			DATETIME		= NULL,

	@UserName					NVARCHAR(50)	= NULL,

	@City						NVARCHAR(50)	= NULL,
	@Country					NVARCHAR(50)	= NULL,
	@FirstName					NVARCHAR(50)	= NULL,
	@LastName					NVARCHAR(50)	= NULL,
	@ZipCode					NVARCHAR(20)	= NULL,
	@StreetName					NVARCHAR(50)	= NULL,
	@StreetNo					NVARCHAR(50)	= NULL,

	@Email						NVARCHAR(50),
	@EmailConfirmed				BIT,
	@PhoneNumber				VARCHAR(20),
	@PhoneConfirmed				BIT,

	@UIFormatID					INT,
	@CustomLongDatePattern		VARCHAR(50),
	@CustomLongTimePattern		VARCHAR(50),
	@CustomShortDatePattern		VARCHAR(50),
	@CustomShortTimePattern		VARCHAR(50),

	@PasswordHash				VARCHAR(100),
	@SecurityStamp				VARCHAR(50),

	@TimeZoneID					INT				= NULL,
	@TemperatureUnitID			INT				= NULL
			  
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	

	UPDATE [UserManager].[ApplicationUser]
	   SET [UpdateVersion] = (CASE WHEN @Version IS NULL THEN [UpdateVersion] + 1 ELSE @Version END)
		  ,[LockoutEnabled] = @LockoutEnabled
		  ,[LockoutEndDateUtc] = @LockoutEndDateUtc
		  ,[AccessFailedCount] = @AccessFailedCount
		  ,[UserName] = @UserName
		  ,[LastFailedLoginDateUtc] = @LastFailedLoginDateUtc
		  ,[LastLoginDateUtc] = @LastLoginDateUtc
		  ,[City] = @City
		  ,[Country] = @Country
		  ,[FirstName] = @FirstName
		  ,[LastName] = @LastName
		  ,[ZipCode] = @ZipCode
		  ,[StreetName] = @StreetName
		  ,[StreetNo] = @StreetNo
		  ,[Email] = @Email
		  ,[EmailConfirmed] = @EmailConfirmed
		  ,[PhoneNumber] = @PhoneNumber
		  ,[PhoneConfirmed] = @PhoneConfirmed
		  ,[UIFormatID] = @UIFormatID
		  ,[UserLongDatePattern] = @CustomLongDatePattern
		  ,[UserShortDatePattern] = @CustomShortDatePattern
		  ,[UserShortTimePattern] = @CustomShortTimePattern
		  ,[UserLongTimePattern] = @CustomLongTimePattern
		  ,[SecurityStamp] = @SecurityStamp
		  ,[PasswordHash] = @PasswordHash
		  ,[TimeZoneID] = @TimeZoneID
		  ,[TemperatureUnitID] = @TemperatureUnitID

	 WHERE @UserID = UserID

	 
END


GO
/****** Object:  StoredProcedure [UserManager].[User_UpdateImage]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_UpdateImage]
	-- Add the parameters for the stored procedure here
	@UserID						BIGINT,
	@ImageURI				    varchar(100)
			  
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	
	UPDATE [UserManager].ApplicationUser
	SET	  ImgURL          = @ImageURI ,
		  UpdateVersion = UpdateVersion + 1				
	WHERE UserId = @UserID
		 
END





GO
/****** Object:  StoredProcedure [UserManager].[User_UpdatePhoneNumberChangeToken]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_UpdatePhoneNumberChangeToken]
	@UserID						BIGINT,
	@Token						VARCHAR(10)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE UserManager.ApplicationUser	
		SET PhoneNumberChangeToken = @Token
	WHERE UserID = @UserID
		 
END



GO
/****** Object:  StoredProcedure [UserManager].[User_UpdateSecurityStamp]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_UpdateSecurityStamp]
	-- Add the parameters for the stored procedure here
	@UserID			BIGINT,
	@SecurityStamp	VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	UPDATE UserManager.ApplicationUser
		SET SecurityStamp = @SecurityStamp
	WHERE UserID = @UserID
	
END


GO
/****** Object:  StoredProcedure [UserManager].[UsersSearch_Paged]    Script Date: 10/30/2016 7:12:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[UsersSearch_Paged]
	-- Add the parameters for the stored procedure here
	@Search				NVARCHAR(100)	= NULL,
	@PageSize			INT,
	@PageNumber			INT,
	@TotalItems			BIGINT			= NULL OUT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @OFFSET INT = (@PageNumber - 1) * @PageSize
	SET @Search = '%' + @Search + '%'

	--Count total
	SELECT @TotalItems = COUNT(1)
	FROM ApplicationUser
	WHERE @Search IS NULL
		OR Email		LIKE @Search
		OR UserName		LIKE @Search
		OR FirstName	LIKE @Search
		OR LastName		LIKE @Search
		OR Country		LIKE @Search
		OR City			LIKE @Search
		OR PhoneNumber	LIKE @Search

	--GET filtered records
	SELECT *, ROW_NUMBER() OVER (ORDER BY FirstName) AS N
	FROM ApplicationUser
	WHERE @Search IS NULL
		OR Email		LIKE @Search
		OR UserName		LIKE @Search
		OR FirstName	LIKE @Search
		OR LastName		LIKE @Search
		OR Country		LIKE @Search
		OR City			LIKE @Search
		OR PhoneNumber	LIKE @Search
	ORDER BY FirstName 
	OFFSET @OFFSET ROWS
	FETCH NEXT @PageSize ROWS ONLY
	
END




GO
USE [master]
GO
