<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Remote Temp RND server-->
    <!--<add name="XCI-Group_AdminDB" 
         connectionString="data source=rnd1.glc-service.com,50001\SQLEXPRESS;User Id=RemoteSQL;Password=12345;initial catalog=XCIGroupAdmin;" 
         providerName="System.Data.SqlClient" />-->
    
    <add name="XCI-Group_AdminDB" connectionString="data source=.;initial catalog=XCIGroupAdmin;integrated security=True;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
