<form name="setTimeForm">

    <div class="modal-body">

        <div class="setTimeContainer">

            <div class="upDownContainer">

                <div class="centerDiv timeWheel">{{'G_SHORT_HOURS' | translate}}</div>
                <div class="upDownSign" ng-click="addHours()"><i class="fa fa-chevron-up"></i></div>
                <input type="number" name="hh" min="0" max="59" required ng-model="time.Hours" class="setTimeText" select-on-click />
                <div class="upDownSign" ng-click="subHours()"><i class="fa fa-chevron-down"></i></div>

                <div class="validationMsg absolute" ng-messages="setTimeForm.hh.$error" ng-show="setTimeForm.hh.$touched">
                    <div ng-message="min">0-59</div>
                    <div ng-message="max">0-59</div>
                    <div ng-message="required">{{'G_F_V_REQUIRED' | translate}}</div>
                </div>
            </div>
            
            <div class="upDownContainer">

                <div class="centerDiv timeWheel">{{'G_SHORT_MINUTES' | translate}}</div>
                <div class="upDownSign" ng-click="addMinutes()"><i class="fa fa-chevron-up"></i></div>
                <input type="number" name="mm" min="0" max="59" required ng-model="time.Minutes" class="setTimeText" select-on-click />
                <div class="upDownSign" ng-click="subMinutes()"><i class="fa fa-chevron-down"></i></div>

                <div class="validationMsg absolute" ng-messages="setTimeForm.mm.$error" ng-show="setTimeForm.mm.$touched">
                    <div ng-message="min">0-59</div>
                    <div ng-message="max">0-59</div>
                    <div ng-message="required">{{'G_F_V_REQUIRED' | translate}}</div>
                </div>
            </div>
            
            <div class="upDownContainer">

                <div class="centerDiv timeWheel">{{'G_SHORT_SECS' | translate}}</div>
                <div class="upDownSign" ng-click="addSeconds()"><i class="fa fa-chevron-up"></i></div>
                <input type="number" name="ss" min="0" max="59" required ng-model="time.Seconds" class="setTimeText" select-on-click />
                <div class="upDownSign" ng-click="subSeconds()"><i class="fa fa-chevron-down"></i></div>
                <div class="validationMsg absolute" ng-messages="setTimeForm.ss.$error" ng-show="setTimeForm.ss.$touched">
                    <div ng-message="min">0-59</div>
                    <div ng-message="max">0-59</div>
                    <div ng-message="required">{{'G_F_V_REQUIRED' | translate}}</div>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="closeModal(setTimeForm)">
            {{'G_CANCEL' | translate}}
        </button>
        <button type="button" class="btn btn-dark-grey ladda-button" ng-click="save(setTimeForm.$valid)">
            {{'G_START' | translate}}
        </button>
    </div>
</form>