<div ng-if="message">
    <div class="sidebar-content">
        <a class="sidebar-back"><i class="fa fa-chevron-circle-left"></i> {{'G_BACK' | translate}}</a>
        <a title="Move to trash" ng-click="Accept(4)"><i class="fa fa-trash-o pull-right"></i></a>
    </div>


    <div class="col-xs-12" ng-switch="message.folderingTypeID">

        <div ng-switch-when="3" class="colMarginLeft">
            <div><b>{{message.soruceUser.firstName}}</b> {{'MF_MESSAGES_TRANSFER_SITE_MSG' | translate}}</div>
            <br />
            <div gmap1 ng-model="message.location.mapCenter.latitude" lan="{{message.location.mapCenter.longitude}}" zoom="{{message.location.zoomLevel}}"></div>
            <br />
            <form name="myForm">
                <div ng-if="projectsList.length>0">
                    <input type="radio" ng-model="type.state" value="exists" class="ng-valid ng-dirty ng-touched space15" name="244" />
                    <span>{{'MF_MESSAGES_ACCEPT_EXIST'|translate}}:</span>
                    <br />
                    <div class="btn-group space15">
                        <button type="button" class="btn btn-med-grey" data-toggle="dropdown">{{choosenProjectName}}<span class="caret"></span></button>
                        <ul class="dropdown-menu scrollable-menu" role="menu" drope-down>

                            <li class="dropDownSearch">
                                <div class="input-group">
                                    <input type="text" ng-model="textFilter" placeholder="{{'MF_G_SEARCH_PROJECT'|translate}}" id="form-field-mask-3" class="form-control input-mask-product">

                                </div>
                            </li>
                            <li ng-repeat="p in projectsList | filter:textFilter track by $index" ng-click="getChoosenProject(p.projectID , p.name)">
                                <a href="javascript:void(0)" ng-click="toggleNavigationMenu($event)">
                                    <i class="fa fa-map-marker"></i>
                                    <span class="title">{{p.name}}</span>
                                    <i class="icon-arrow"></i>
                                </a>


                            </li>
                        </ul>
                    </div>
                    <br />
                </div>
                <input type="radio" ng-model="type.state" value="new" class="ng-valid ng-dirty ng-touched space15" name="244"> {{'MF_MESSAGES_NEW_PROJECT'|translate}}:
                <br />
                <input type="radio" ng-model="type.state" value="same" class="ng-valid ng-dirty ng-touched space15" name="244"> Same Project:
                <input class="textFiledClassSmall" type="text" ng-model="newProjectName.name" placeholder="project name" />
            </form>

        </div>
        <div ng-switch-when="4" class="colMarginLeft">
            <div><b>{{message.soruceUser.firstName}}</b> {{'MF_MESSAGES_SHARE_SITE_MSG' | translate}}</div>
            <div>
                <br />


            </div>
            <br />

            <div gmap1 ng-model="message.location.mapCenter.latitude" lan="{{message.location.mapCenter.longitude}}" zoom="{{message.location.zoomLevel}}"></div>
            <br />
            <form name="myForm">
                <div ng-if="projectsList.length>0">
                    <input type="radio" ng-model="type.state" value="exists" class="ng-valid ng-dirty ng-touched space15" name="244" />
                    <span>{{'MF_MESSAGES_ACCEPT_EXIST'|translate}}:</span>
                    <br />
                    <div class="btn-group space15">
                        <button type="button" class="btn btn-med-grey" data-toggle="dropdown">{{choosenProjectName}}<span class="caret"></span></button>
                        <ul class="dropdown-menu scrollable-menu" role="menu" drope-down>

                            <li>
                                <div class="input-group">
                                    <input type="text" ng-model="textFilter" placeholder="{{'MF_G_SEARCH_PROJECT'|translate}}" id="form-field-mask-3" class="form-control input-mask-product">


                                </div>
                            </li>
                            <li ng-repeat="p in projectsList | filter:textFilter track by $index" ng-click="getChoosenProject(p.projectID , p.name)">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-map-marker"></i>
                                    <span class="title">{{p.name}}</span>
                                    <i class="icon-arrow"></i>
                                </a>


                            </li>
                        </ul>
                    </div>
                    <br />
                </div>
                <input type="radio" ng-model="type.state" value="new" class="ng-valid ng-dirty ng-touched space15" name="244"> {{'MF_MESSAGES_NEW_PROJECT'|translate}}:
                <br />
                <input class="textFiledClassSmall" type="text" ng-model="newProjectName.name" placeholder="project name" />

            </form>

        </div>
        <div ng-switch-when="1" class="colMarginLeft">
            <div><b>{{message.record.soruceUser.firstName}}</b> {{'MF_MESSAGES_TRANSFER_PROJECT_MSG' | translate}}</div>
            <br />
            <div gmap1 ng-model="message.location.mapCenter.latitude" lan="{{message.location.mapCenter.longitude}}" zoom="{{message.location.zoomLevel}}"></div>
            <br />
            <form name="myForm">

                <input class="textFiledClassSmall" type="text" ng-model="newProjectName.name" placeholder="{{'MF_G_PROJECT_NAME' | translate}}" />
            </form>

        </div>
        <div ng-switch-when="2" class="colMarginLeft">
            <div><b>{{message.record.soruceUser.firstName}}</b> {{'MF_MESSAGES_SHARE_PROJECT_MSG' | translate}}</div>
            <div>
                <br />


            </div>
            <br />

            <div gmap1 ng-model="message.location.mapCenter.latitude" lan="{{message.location.mapCenter.longitude}}" zoom="{{message.location.zoomLevel}}"></div>
            <br />


        </div>


        <br />
        <p class="pull-right">
            <button type="button" class="btn btn-green" ng-click="Accept(2,type.state)">
                {{'MF_MESSAGES_ACCEPT' | translate}}
            </button>
            <button type="button" class="btn btn-bricky" ng-click="Accept(3)">
                {{'MF_MESSAGES_REJECT' | translate}}
            </button>


        </p>
    </div>




</div>




  
    
