
<div class="row">

    <ol class="breadcrumb">
        <li>

            <span translate="MF_ALERTS_ALERTS"></span>
        </li>

    </ol>

</div>


<div class="row margintop25">
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list"></i>
                {{'MF_G_PROJECT_TREE'| translate}}
                <div class="panel-tools">
                    <span data-toggle="tooltip" title="{{'MF_ALERTS_PROJECTS_ALERT_PROJECTS_TREE_QUESTION' | translate}}"><i class="clip-question-2" phone-tooltip var1="MF_ALERTS_PROJECTS_ALERT_PROJECTS_TREE_QUESTION" var2="modal"></i></span>

                </div>
            </div>
            <div class="panel-body">
        
              
                        <div navbar-directive atr="alerts" class="right15left15"></div>
                 
                
                </div>

            </div>
      
    </div>
    <div class="col-lg-8 col-md-6 col-xs-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-warning"></i>
                {{'MF_ALERTS_PROJECTS_ALERTS'| translate}}
                <div class="panel-tools">
                    <span data-toggle="tooltip" title="{{'MF_ALERTS_PROJECTS_ALERTS_QUESTION' | translate}}"><i class="clip-question-2" phone-tooltip var1="MF_ALERTS_PROJECTS_ALERTS_QUESTION" var2="modal"></i></span>

                </div>
            </div>
            <div class="panel-body">

                <div ng-if="tableData" class="smallViewBorderTop">



                    <input type="checkbox" ng-model="pageFitchers.includeSub" ng-change="getAlerts()" /><span>{{'MF_ALERTS_PROJECTS_ALL_DEVICE'|translate}}</span>
                    <a class="pull-right inline" data-toggle="modal" data-target="#Macro" data-backdrop="false">{{'MF_ALERTS_PROJECTS_MACRO'|translate}}</a>



                    <div class="alertTable">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th>{{'MF_G_DEVICE_NAME'|translate}}</th>
                                        <th>{{'MF_G_SERIAL'|translate}}</th>
                                        <th>{{'MF_G_SITE'|translate}}</th>
                                        <th>{{'MF_ALERTS_ALLOW'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody ng-if="tableData">
                                    <tr ng-repeat="tb in tableData.deviceAlertsView track by $index">

                                        <td class="firstRow">{{tb.deviceName}}</td>
                                        <td class="firstRow">{{tb.sn}}</td>
                                        <td class="firstRow">{{tb.siteName}}</td>
                                        <td class="firstRow"><input type="checkbox" ng-model="tb.isAlertsEnabled" ng-change="deviceAlertChange(tb)" /></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div ng-if="pagerFlag" paging comm="connector"></div>
                        <button ng-if="showSave" class="btn btn-dark-grey pull-right ladda-button" ng-click="postAlertsTableData()" ladda="ladda.save" data-style="expand-right" data-spinner-size="30">{{'G_SAVE'|translate}}</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div id="Macro" class="modal" close-model>

        <div class="modal-dialog">
            <div class="modal-content macroModal">
                <div class="modal-header">
                    {{'MF_ALERTS_PROJECTS_MACRO_OPERATIONS'|translate}}
                    <div class="panel-tools">
                        <a data-toggle="tooltip" title="{{'MF_WEATHER_SETTING_QUESTION' | translate}}"><i class="clip-question-2" phone-tooltip var1="MF_WEATHER_SETTING_QUESTION" var2="modal"></i></a>
                        <i data-dismiss="modal" class="clip-close-3" ng-click="getAlerts()"></i>

                    </div>
                </div>
                <div class="modal-body">
                    <div class="centerDiv">
                        <button class="btn btn-dark-grey ladda-button" ng-click="macroAlerts(0)" ladda="ladda.allow" data-style="expand-right" data-spinner-size="30">{{'MF_ALERTS_PROJECTS_ALLOW_ALL_DEVICES'|translate}}</button>
                        <br />
                        <br />
                        <button class="btn btn-dark-grey ladda-button" ng-click="macroAlerts(1)" ladda="ladda.disable" data-style="expand-right" data-spinner-size="30">{{'MF_ALERTS_PROJECTS_DISABLE_ALL_DEVICES'|translate}}</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>

        </div>
    </div>

          
        

    

