USE [MFSystemReport]
GO
/****** Object:  Schema [Report]    Script Date: 21/10/2015 08:44:48 ******/
CREATE SCHEMA [Report]
GO
/****** Object:  Schema [Site]    Script Date: 21/10/2015 08:44:48 ******/
CREATE SCHEMA [Site]
GO
/****** Object:  StoredProcedure [Site].[UpdateWaterQuant]    Script Date: 21/10/2015 08:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [Site].[UpdateWaterQuant]
	@SiteID	bigint	,
	@RecordTime DATETIME,
	@DeviceID bigint,
	@Zone TINYINT,
    @WaterQuant	int	,
	@WaterTime	int	,
	@PulseViewTypeID TINYINT,
	@DeviceName	nvarchar(50) = null,
	@SN	varchar(20)	= null

		


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	DECLARE @dateValueDay INT = DATEPART(DAY ,@RecordTime)
	DECLARE @dateValueMonth INT = DATEPART(MONTH,@RecordTime)
	DECLARE @dateValueYear INT = DATEPART(YEAR ,@RecordTime) 

	--======================================================--
	-- Update Monthly 
	--======================================================--


	UPDATE [Report].[Monthly]
	SET [WaterQuant] +=@WaterQuant,
		WaterTime += @WaterTime,
		UpdateDate = @RecordTime
	WHERE SiteID = @SiteID
	AND DeviceID = @DeviceID
	AND PulseViewTypeID = @PulseViewTypeID
	AND @dateValueMonth = Month
	AND @dateValueYear = Year
	
	IF(@@ROWCOUNT = 0 )
		BEGIN
		
		INSERT INTO [Report].[Monthly]
           ([DeviceID]
           ,[SiteID]
           ,[Year]
           ,[Month]
           ,[PulseViewTypeID]
           ,[UpdateDate]
           ,[WaterQuant]
		   ,WaterTime
		    ,DeviceName
		    ,SN)
		VALUES
           (@DeviceID
           ,@SiteID
           ,@dateValueYear
           ,@dateValueMonth
           ,@PulseViewTypeID
           ,@RecordTime
           ,@WaterQuant
		   ,@WaterTime
		    ,@DeviceName
		    ,@SN)

	    END 


    --======================================================--
	-- Update Daily 
	--======================================================--


	UPDATE [Report].Daily
	SET [WaterQuant] +=@WaterQuant,
	WaterTime += @WaterTime,
		UpdateDate = @RecordTime
	WHERE SiteID = @SiteID
	AND DeviceID = @DeviceID
	AND PulseViewTypeID = @PulseViewTypeID
	AND @dateValueMonth = Month
	AND @dateValueYear = Year
	AND @dateValueDay = Day 
	
	IF(@@ROWCOUNT = 0 )
		BEGIN
		
		INSERT INTO [Report].Daily
           ([DeviceID]
           ,[SiteID]
           ,[Year]
           ,[Month]
		   ,[Day]
           ,[PulseViewTypeID]
           ,[UpdateDate]
           ,[WaterQuant]
		   ,WaterTime
		   ,DeviceName
		    ,SN)
		VALUES
           (@DeviceID
           ,@SiteID
           ,@dateValueYear
           ,@dateValueMonth
		   ,@dateValueDay
           ,@PulseViewTypeID
           ,@RecordTime
           ,@WaterQuant
		   ,@WaterTime
		   ,@DeviceName
		    ,@SN
		   )

	    END 





	--======================================================--
	-- Update Zone Monthly 
	--======================================================--


	UPDATE [Report].[Zone_Monthly]
	SET [WaterQuant] +=@WaterQuant,
	WaterTime += @WaterTime,
		UpdateDate = @RecordTime
	WHERE SiteID = @SiteID
	AND DeviceID = @DeviceID
	AND PulseViewTypeID = @PulseViewTypeID
	AND @dateValueMonth = Month
	AND @dateValueYear = Year
	AND @Zone = Zone 
	
	IF(@@ROWCOUNT = 0 )
		BEGIN
		
		INSERT INTO [Report].[Zone_Monthly]
           ([DeviceID]
           ,[SiteID]
           ,[Year]
           ,[Month]
           ,[PulseViewTypeID]
           ,[UpdateDate]
           ,[WaterQuant]
		   ,WaterTime
		   ,Zone
		   ,DeviceName
		    ,SN)
		VALUES
           (@DeviceID
           ,@SiteID
           ,@dateValueYear
           ,@dateValueMonth
           ,@PulseViewTypeID
           ,@RecordTime
           ,@WaterQuant
		   ,@WaterTime
		   ,@Zone
		   ,@DeviceName
		    ,@SN)

	    END 


    --======================================================--
	-- Update Zone Daily 
	--======================================================--


	UPDATE [Report].Zone_Daily
	SET [WaterQuant] +=@WaterQuant,
	WaterTime += @WaterTime,
		UpdateDate = @RecordTime
	WHERE SiteID = @SiteID
	AND DeviceID = @DeviceID
	AND PulseViewTypeID = @PulseViewTypeID
	AND @dateValueMonth = Month
	AND @dateValueYear = Year
	AND @dateValueDay = Day 
	AND @Zone = Zone 
	
	IF(@@ROWCOUNT = 0 )
		BEGIN
		
		INSERT INTO [Report].Zone_Daily
           ([DeviceID]
           ,[SiteID]
           ,[Year]
           ,[Month]
		   ,[Day]
           ,[PulseViewTypeID]
           ,[UpdateDate]
           ,[WaterQuant]
		   ,WaterTime
		   ,Zone
		   ,DeviceName
		    ,SN)
		VALUES
           (@DeviceID
           ,@SiteID
           ,@dateValueYear
           ,@dateValueMonth
		   ,@dateValueDay
           ,@PulseViewTypeID
           ,@RecordTime
           ,@WaterQuant
		   ,@WaterTime
		   ,@Zone
		   ,@DeviceName
		    ,@SN
		   )

	    END 

    
END

GO
/****** Object:  Table [Report].[Daily]    Script Date: 21/10/2015 08:44:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Report].[Daily](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceID] [bigint] NOT NULL,
	[SiteID] [bigint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[PulseViewTypeID] [tinyint] NOT NULL,
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_Daily_UpdateDate]  DEFAULT (getutcdate()),
	[WaterQuant] [int] NULL,
	[WaterTime] [int] NULL,
	[DeviceName] [nvarchar](50) NULL,
	[SN] [varchar](20) NULL,
 CONSTRAINT [PK_Daily] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC,
	[SiteID] ASC,
	[Year] ASC,
	[Month] ASC,
	[Day] ASC,
	[PulseViewTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Report].[Monthly]    Script Date: 21/10/2015 08:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Report].[Monthly](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceID] [bigint] NOT NULL,
	[SiteID] [bigint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[PulseViewTypeID] [tinyint] NOT NULL,
	[UpdateDate] [datetime] NULL CONSTRAINT [DF_Monthly_UpdateDate]  DEFAULT (getutcdate()),
	[WaterQuant] [int] NULL,
	[WaterTime] [int] NULL,
	[DeviceName] [nvarchar](50) NULL,
	[SN] [varchar](20) NULL,
 CONSTRAINT [PK_Monthly] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC,
	[SiteID] ASC,
	[Year] ASC,
	[Month] ASC,
	[PulseViewTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Report].[Zone_Daily]    Script Date: 21/10/2015 08:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Report].[Zone_Daily](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceID] [bigint] NOT NULL,
	[SiteID] [bigint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[PulseViewTypeID] [tinyint] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[WaterQuant] [int] NULL,
	[WaterTime] [int] NULL,
	[Zone] [tinyint] NULL,
	[DeviceName] [nvarchar](50) NULL,
	[SN] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Report].[Zone_Monthly]    Script Date: 21/10/2015 08:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Report].[Zone_Monthly](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DeviceID] [bigint] NOT NULL,
	[SiteID] [bigint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[PulseViewTypeID] [tinyint] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[WaterQuant] [int] NULL,
	[WaterTime] [int] NULL,
	[Zone] [tinyint] NULL,
	[DeviceName] [nvarchar](50) NULL,
	[SN] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
