/*.flip-clock-wrapper {
    text-align: center;
    position: relative;
    margin: 0em auto;
    width: auto;
    display: inline-flex;
}
.flip-clock-divider .flip-clock-label {
    display: none;
}
.flip-clock-wrapper.flip{
width: 4px;
height: 20px;
}
.flip-clock-dot.bottom {
  display:none;
}

@media (max-width: 2000px) and (min-width: 980px) {
   .flip-clock-wrapper ul {
        width: 7px;
        height: 20px;
    }
    .flip-clock-wrapper ul li {
        line-height: 27px;
    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 18px;
    }
    .flip-clock-divider {
        height: 30px;
        width: 14px;
    }
    .flip-clock-dot {
        width: 5px;
        height: 5px;
    }
    .flip-clock-dot.top {
        top: 7px;
    }
    .flip-clock-dot.bottom {
        bottom: 7px;
    }
   
}
@media (max-width: 980px) and (min-width: 650px) {
    .flip-clock-wrapper ul {
         width: 14px;
         height: 24px;
    }
    .flip-clock-wrapper ul li {
        line-height: 24px;
    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 15px;
    }
    .flip-clock-divider {
         height: 30px;
        width: 14px;
    }
      .flip-clock-dot {
        width: 5px;
        height: 5px;
    }
    .flip-clock-dot.top {
        top: 7px;
    }
    .flip-clock-dot.bottom {
        bottom: 7px;
        display: none;
    }
}

@media (max-width: 650px) and (min-width: 360px) {

  .flip-clock-wrapper ul {
         width: 11px;
         height: 21px;
    }
    .flip-clock-wrapper ul li {
        line-height: 21px;
    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 11px;
    }
    .flip-clock-divider {
           height: 30px;
           width: 14px;
    }
     .flip-clock-dot {
        width: 5px;
        height: 5px;
    }
    .flip-clock-dot.top {
        top: 7px;
    }
    
}


@media (max-width: 359px) {

  .flip-clock-wrapper ul {
         width: 70px;
         height: 21px;
    }
    .flip-clock-wrapper ul li {
        line-height: 21px;
    }
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 11px;
    }
    .flip-clock-divider {
           height: 21px;
           width: 5px;
    }
     .flip-clock-dot {
        width: 5px;
        height: 5px;
    }
    .flip-clock-dot.top {
        top: 7px;
    }
    .flip-clock-dot.bottom {
        bottom: -3px;
    }
}*/