
        
<div class="btn-group smallMainAction devicePage" ng-if="privilige">
    <a data-toggle="dropdown" class="btn btn-med-grey dropdown-toggle">
        {{'G_ACTIONS'|translate}}<span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu">
        <li role="presentation">


            <a ng-click="bbb=true" data-toggle="modal" data-target="#activateZones" data-backdrop="false"><i class="fa fa-plus marginRight7 addSomting"></i>{{'MF_DEVICE_ZONES_ACTIVATE_ZONES' | translate}}</a>

        </li>
        <li role="presentation">


            <a ng-click="hold=true" data-toggle="modal" data-target="#hold" data-backdrop="false"><i class="fa fa-pause marginRight7 addSomting"></i>{{'MF_DEVICE_ONLINE_HOLD'| translate}}</a>

        </li>
        <li role="presentation">


            <a data-toggle="modal" data-target="#deleteDevice" data-backdrop="false">

                <span class="title"><i class="fa fa-trash-o red"></i><span class="colMarginLeft">{{'MF_DEVICE_DELETE_DEVICE' | translate}}</span> </span>

            </a>
           

        </li>

    </ul>


</div>
        <hr />

<div class="row deviceLine">
    <div class="col-lg-12 col-md-12 col-xs-12"></div>
    <div class="pull-right">
        <div class="fc-header-right device topNevigationDevice subTabs">
            <span ng-click="goTo('DView')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('device.XCI_device.view')}">{{'MF_DEVICE_VIEW' | translate}}</span>
            <span ng-click="goTo('DOnline')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('device.XCI_device.online')}">{{'MF_DEVICE_ONLINE' | translate}}</span>
        </div>

    </div>
    <div class="smallViewPreviewTabs"></div>
</div>
<br />

<div ui-view="">

</div>
   

<!----------------------------------------------------------------------------->
<div id="deleteDevice" class="modal" close-model my-delete-confirm str="by deleteing device, zones associated with the device will also be permanantly deleted." str1="write the following text and press confirm" ng-model="deviceId" typeattr="device" callback="DeleteDevice(deviceId)"></div>
<!--------------------------------------------------------------------------->
<div  id="activateZones" class="modal" close-model activate-zones ng-model="deviceId"></div>
<!--------------------------------------------------------------------------->
<!--*****************************************************************************-->
<div  id="hold" class="modal" close-model ctrl-hold device="{{deviceId}}" close-model></div>
<!--********************************************************************************-->

<div ng-if="zoneId" id="setOnlineTime" class="modal" set-online-time ng-model="zoneId" device="{{deviceId}}" close-model></div>
<!--*******************************************************************************-->