
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-settings"></i>
                <span>Unit Settings</span>
                <div class="pull-left">
                    <span class="colMarginLeft"><i class="clip-question-2"></i></span>
                </div>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <span><i class="clip-refresh"></i></span>
                        <span class="colMarginLeft"><a>Reload</a></span>
                        <span class="colMarginLeft">|</span>
                        <span class="colMarginLeft"><i class="fa fa-save"></i></span>
                        <span class="colMarginLeft"><a>Save</a></span>
                    </div>
                    <hr />
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <span>Unit State:</span>
                        <form name="myForm" class="colMarginLeft inline">

                            <input type="radio" ng-model="unitState.state" value="Active" class="ng-valid ng-dirty ng-touched" name="GS1" />
                            <span>Active</span>
                            <input type="radio" ng-model="unitState.state" value="NotActive" class="ng-valid ng-dirty ng-touched colMarginLeft " name="GS1">
                            <span>Not Active</span>

                        </form>
                    </div>
                    <hr />
                </div>
                <div class="row">
                    <div class="gsi-panel">
                        <div class="gsi-panel-heading">
                            <a gsi-accordion><i class="fa fa-chevron-circle-down"></i></a>
                            <span class="header">General Settings</span>
                        </div>
                        <div class="gsi-panel-body" style="display:none">
                            <div class="onePanel">
                                <div class="header">

                                </div>
                                <div class="sub-header">
                                    <table class="table smallTable">
                                        <tbody>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Serial#:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <span class="width200px">0000000000000002562</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Phone Number:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <span class="width200px">052-740-60-75</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Unit Name:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="text" class="width200px" placeholder="Unit Name" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Address:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="text" class="width200px" placeholder="Address" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Description:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <textarea rows="4" cols="15" class="width200px" placeholder="Description"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Globalization Zone:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-med-grey width200px ng-binding" data-toggle="dropdown">(UTC +2:00) Jerusalem<span class="caret"></span></button>
                                                        <ul class="dropdown-menu scrollable-menu" role="menu">
                                                            <li>
                                                                bla bla
                                                            </li>

                                                        </ul>

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Use Master:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Number of Station:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <span>24</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Rain Sensor:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" ng-model="generalSettings.rainSensor" />
                                                </td>
                                            </tr>
                                            <tr ng-if="generalSettings.rainSensor">
                                                <td class="firstRow"></td>
                                                <td class="firstRow">
                                                    <span>Suspend Days:</span>
                                                    <input type="number" min="1" max="1000" class="width110px" />
                                                    <form name="myForm">

                                                        <input type="radio" ng-model="unitState.state" value="Active" class="ng-valid ng-dirty ng-touched" name="GS2" />
                                                        <span>NO</span>
                                                        <input type="radio" ng-model="unitState.state" value="NotActive" class="ng-valid ng-dirty ng-touched colMarginLeft " name="GS2">
                                                        <span>NC</span>

                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Allow simulation operation of program:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Local Program Active:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="firstRow">
                                                    <span>Valid Watering Days:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <div ng-repeat="d in generalSettings.weekly.days track by $index" class="inline colMarginLeft">
                                                        <span>{{d.num}}</span>
                                                        <input type="checkbox" ng-model="d.state" />
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>None Irrigation Dates:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <div class="input-group date">
                                                        <input style="width: 175px;" type="text" class="form-control date-picker ng-pristine ng-untouched ng-valid width200px" ng-model="date" ng-change="chooseNewDate(date , 0)" placeholder="Choose Date" date-picker-directive="" readonly>   <!--ng-model="CostomDate.startStr" ng-change="UnixTime(CostomDate.startStr , 0)"-->
                                                        <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="d in generalSettings.nonIrrigationDates">
                                                <td class="firstRow"></td>
                                                <td class="firstRow pull-left">
                                                    <span>{{d.date}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-if="generalSettings.nonIrrigationDates.length>0">
                                                <td class="firstRow"></td>
                                                <td class="firstRow pull-left">
                                                    <a ng-click="deleteNonIrrigationDates()">Clear</a>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="gsi-panel">
                        <div class="gsi-panel-heading">
                            <a gsi-accordion><i class="fa fa-chevron-circle-down"></i></a>
                            <span class="header">Water Meter</span>
                        </div>
                        <div class="gsi-panel-body" style="display:none">
                            <div class="onePanel">
                                <div class="header">

                                </div>
                                <div class="sub-header">
                                    <table class="table smallTable">
                                        <tbody>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Use Water Meter:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" ng-model="waterMeter.useWaterMeter" />
                                                </td>
                                            </tr>

                                            <tr ng-if="waterMeter.useWaterMeter">
                                                <td class="firstRow">
                                                    <span class="marginInnerTd">Pulse Size:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-med-grey width200px ng-binding" data-toggle="dropdown">{{waterMeter.choosenSize}}<span class="caret"></span></button>
                                                        <ul class="dropdown-menu scrollable-menu" role="menu">
                                                            <li ng-repeat="s in waterMeter.size" ng-click="waterMeterSetPulseSize(s)">
                                                                {{s}}
                                                            </li>

                                                        </ul>

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Wait Before No Flow Alert:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <div class="input-container width200px pull-left">

                                                        <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="irrigatingSettings.irrigationFactor" min="50" max="200" required>
                                                        <span class="unit">m</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Enable Leack Detection:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" ng-model="waterMeter.enableLeack" />
                                                </td>
                                            </tr>
                                            <tr ng-if="waterMeter.enableLeack">
                                                <td class="firstRow">
                                                    <span>Number of pulses for alert:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="number" class="width200px" ng-model="waterMeter.pulseAlert" min="0" max="1000" />
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="gsi-panel">
                        <div class="gsi-panel-heading">
                            <a gsi-accordion><i class="fa fa-chevron-circle-down"></i></a>
                            <span class="header">Fertilizer Settings</span>
                        </div>
                        <div class="gsi-panel-body" style="display:none">
                            <div class="onePanel">
                                <div class="header">

                                </div>
                                <div class="sub-header">

                                    <table class="table smallTable">
                                        <tbody>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Use Water Meter:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" ng-model="fertilizer.useFertilizer" />
                                                </td>
                                            </tr>

                                            <tr ng-if="fertilizer.useFertilizer">
                                                <td class="firstRow">
                                                    <span>Fertilizer pump type:</span>
                                                </td>
                                                <td class="firstRow pull-left">

                                                    <form name="myForm" class="colMarginLeft inline">

                                                        <input type="radio" ng-model="fertilizer.pumpType" value="fertilizer" class="ng-valid ng-dirty ng-touched" name="GS3" />
                                                        <span>By fertilizer meter</span>
                                                        <input type="radio" ng-model="fertilizer.pumpType" value="flow" class="ng-valid ng-dirty ng-touched colMarginLeft " name="GS3">
                                                        <span>By flow rate</span>

                                                    </form>
                                                </td>
                                            </tr>
                                            <tr ng-if="fertilizer.useFertilizer && fertilizer.pumpType=='flow'">
                                                <td class="firstRow"></td>
                                                <td class="firstRow pull-left">
                                                    <div class="input-container bigTextFiled pull-left">

                                                        <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="fertilizer.rate" min="1" max="200" required>
                                                        <span class="unit">i/h</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-if="fertilizer.useFertilizer && fertilizer.pumpType=='flow'">
                                                <td class="firstRow"></td>
                                                <td class="firstRow pull-left">
                                                    <span>Stroke duration(for proportional fertilizing):</span>
                                                    <div class="input-container bigTextFiled pull-left colMarginLeft">

                                                        <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="fertilizer.stroke" min="1" max="200" required>
                                                        <span class="unit">Secs</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-if="fertilizer.useFertilizer && fertilizer.pumpType=='flow'">
                                                <td class="firstRow"></td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" ng-model="fertilizer.fertilizerAlert" />
                                                    <span class="colMarginLeft">Use fertilizer meter for alerts</span>
                                                </td>
                                            </tr>
                                            <tr ng-if="fertilizer.useFertilizer && fertilizer.pumpType=='fertilizer'">
                                                <td class="firstRow">Pulse size:</td>
                                                <td class="firstRow pull-left">
                                                    <div class="btn-group" ng-if="!fertilizer.useCustomValue">
                                                        <button type="button" class="btn btn-med-grey width200px ng-binding" data-toggle="dropdown">{{fertilizer.choosenSize}}<span class="caret"></span></button>
                                                        <ul class="dropdown-menu scrollable-menu" role="menu">
                                                            <li ng-repeat="s in fertilizer.size" ng-click="fertilizerSetPulseSize(s)">
                                                                {{s}}
                                                            </li>

                                                        </ul>

                                                    </div>
                                                    <br />
                                                    <input type="checkbox" ng-model="fertilizer.useCustomValue" />
                                                   
                                                    <span class="colMarginLeft">Use Custom value</span>
                                                    <div class="input-container bigTextFiled pull-left colMarginLeft" ng-if="fertilizer.useCustomValue">

                                                        <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="fertilizer.customValue" min="1" max="200" required>
                                                        <span class="unit">Liter</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-if="fertilizer.useFertilizer">
                                                <td class="firstRow">
                                                    <span>Injection Method:</span>
                                                </td>
                                                <td class="firstRow pull-left">

                                                    <form name="myForm" class="colMarginLeft inline">

                                                        <input type="radio" ng-model="fertilizer.injectionM" value="continuous" class="ng-valid ng-dirty ng-touched" name="GS4" />
                                                        <span>Continuous</span>
                                                        <input type="radio" ng-model="fertilizer.injectionM" value="proportional" class="ng-valid ng-dirty ng-touched colMarginLeft " name="GS4">
                                                        <span>Proportional</span>

                                                    </form>
                                                </td>
                                            </tr>
                                            <tr ng-if="fertilizer.useFertilizer && fertilizer.pumpType=='fertilizer'">
                                                <td class="firstRow">Time for no fertlizer flow alert:</td>
                                                <td class="firstRow pull-left">

                                                    <div class="input-container width200px pull-left colMarginLeft">

                                                        <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="irrigatingSettings.irrigationFactor" min="50" max="200" required>
                                                        <span class="unit">Secs</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr ng-if="fertilizer.useFertilizer && fertilizer.pumpType=='fertilizer'">
                                                <td class="firstRow">
                                                    <span>Fertilizer leakage:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <input type="checkbox" ng-model="fertilizer.fertilizerLeakage" />
                                                </td>
                                            </tr>
                                            <tr ng-if="fertilizer.useFertilizer && fertilizer.pumpType=='fertilizer' && fertilizer.fertilizerLeakage">
                                                <td class="firstRow"></td>
                                                <td class="firstRow pull-left">
                                                    <span>Number of pulses</span>
                                                    <div class="input-container width200px pull-left colMarginLeft">

                                                        <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="fertilizer.numberOfPulse" min="1" max="200" required>

                                                    </div>
                                                  
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="gsi-panel">
                        <div class="gsi-panel-heading">
                            <a gsi-accordion><i class="fa fa-chevron-circle-down"></i></a>
                            <span class="header">Season Settings</span>
                        </div>
                        <div class="gsi-panel-body" style="display:none">
                            <div class="onePanel">
                                <div class="header">

                                </div>
                                <div class="sub-header">
                                    <table class="table smallTable">
                                        <tbody>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Season Start:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <div class="input-group date">
                                                        <input type="text" class="form-control date-picker ng-pristine ng-untouched ng-valid dateTextFiled" ng-model="season.start" placeholder="Start" date-picker-directive="" readonly>   <!--ng-model="CostomDate.startStr" ng-change="UnixTime(CostomDate.startStr , 0)"-->
                                                        <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Season End:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <div class="input-group date">
                                                        <input type="text" class="form-control date-picker ng-pristine ng-untouched ng-valid dateTextFiled" ng-model="season.end" placeholder="Start" date-picker-directive="" readonly>   <!--ng-model="CostomDate.startStr" ng-change="UnixTime(CostomDate.startStr , 0)"-->
                                                        <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Seasonal Budget:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <div class="input-container bigTextFiled pull-left">

                                                        <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="season.budget" min="0" max="200" required>
                                                        <span class="unit">m3</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">
                                                    <span>Reset Accumulators:</span>
                                                </td>
                                                <td class="firstRow pull-left">
                                                    <span>Unit's Total</span>
                                                    <input class="floatRight" type="checkbox" ng-model="season.total" />
                                                    <br />
                                                    <span>Unit's Season</span>
                                                    <input class="floatRight" type="checkbox" ng-model="season.season" />
                                                    <br />
                                                    <span>Unit's Month</span>
                                                    <input class="floatRight" type="checkbox" ng-model="season.month" />
                                                    <br />
                                                    <span>Messages</span>
                                                    <input class="floatRight" type="checkbox" ng-model="season.messages" />
                                                    <br />
                                                    <span>Unexpected Flow</span>
                                                    <input class="floatRight" type="checkbox" ng-model="season.unexpectedFlow" />
                                                    <br />
                                                    <span>Power Control</span>
                                                    <input class="floatRight" type="checkbox" ng-model="season.powerControl" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow"></td>
                                                <td class="firstRow pull-left">
                                                    <a class="floatRight">Reaset</a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="gsi-panel">
                        <div class="gsi-panel-heading">
                            <a gsi-accordion><i class="fa fa-chevron-circle-down"></i></a>
                            <span class="header">Advanced Settings</span>
                        </div>
                        <div class="gsi-panel-body" style="display:none">
                            <div class="onePanel">
                                <div class="header">

                                </div>
                                <div class="sub-header">
                                    <table class="table smallTable">
                                        <tbody>
                                            <tr>
                                                <td class="firstRow">Measurement Unit:</td>
                                                <td class="firstRow">
                                                    <form name="myForm" class="colMarginLeft inline">

                                                        <input type="radio" ng-model="advanced.mUnit" ng-change="setAdvancedMeasurementUnit('metric')" value="metric" class="ng-valid ng-dirty ng-touched" name="GS5" />
                                                        <span>Metric</span>
                                                        <input type="radio" ng-model="advanced.mUnit" ng-change="setAdvancedMeasurementUnit('imperial')" value="imperial" class="ng-valid ng-dirty ng-touched colMarginLeft " name="GS5">
                                                        <span>Imperial</span>

                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">Area Unit:</td>
                                                <td class="firstRow pull-left">
                                                    <div class="btn-group" ng-if="advanced.showMlist">
                                                        <button type="button" class="btn btn-med-grey bigSizeButton ng-binding" data-toggle="dropdown">{{advanced.mCurrentType}}<span class="caret"></span></button>
                                                        <ul class="dropdown-menu scrollable-menu" role="menu">
                                                            <li ng-repeat="s in advanced.mList" ng-click="advancedSetAreaUnit('metric',s)">
                                                                {{s}}
                                                            </li>

                                                        </ul>

                                                    </div>
                                                    <div class="btn-group" ng-if="!advanced.showMlist">
                                                        <button type="button" class="btn btn-med-grey bigSizeButton ng-binding" data-toggle="dropdown">{{advanced.iCurrentType}}<span class="caret"></span></button>
                                                        <ul class="dropdown-menu scrollable-menu" role="menu">
                                                            <li ng-repeat="s in advanced.iList" ng-click="advancedSetAreaUnit('imperials',s)">
                                                                {{s}}
                                                            </li>

                                                        </ul>

                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="firstRow">Master valve sequence:</td>
                                                <td class="firstRow">
                                                    <span>Open:</span>
                                                    <form name="myForm" class="colMarginLeft inline">
                                                        <input type="radio" ng-model="advanced.mOpen" value="master" class="ng-valid ng-dirty ng-touched" name="GS6" />
                                                        <span>Master First</span>
                                                        <input type="radio" ng-model="advanced.mOpen" value="station" class="ng-valid ng-dirty ng-touched colMarginLeft " name="GS6">
                                                        <span>Station First</span>
                                                    </form>
                                                    <div class="inline floatRight">
                                                        <span>Delay:</span>
                                                        <div class="input-container bigTextFiled pull-left">

                                                            <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="advanced.mOpenDelay" min="0" max="200" required>
                                                            <span class="unit">Secs</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow"></td>
                                                <td class="firstRow">
                                                    <span>Close:</span>
                                                    <form name="myForm" class="colMarginLeft inline">
                                                        <input type="radio" ng-model="advanced.mClose" value="master" class="ng-valid ng-dirty ng-touched" name="GS7" />
                                                        <span>Master First</span>
                                                        <input type="radio" ng-model="advanced.mClose" value="station" class="ng-valid ng-dirty ng-touched colMarginLeft " name="GS7">
                                                        <span>Station First</span>
                                                    </form>
                                                    <div class="inline floatRight">
                                                        <span>Delay:</span>
                                                        <div class="input-container bigTextFiled pull-left">

                                                            <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="advanced.mCloseDelay" min="0" max="200" required>
                                                            <span class="unit">Secs</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="firstRow">Program station ovrlap or delay:</td>
                                                <td class="firstRow">

                                                    <form name="myForm" class="colMarginLeft inline">
                                                        <input type="radio" ng-model="advanced.pStationOverlapOrDelay" value="overflap" class="ng-valid ng-dirty ng-touched" name="GS9" />
                                                        <span>Overlap</span>
                                                        <input type="radio" ng-model="advanced.pStationOverlapOrDelay" value="delay" class="ng-valid ng-dirty ng-touched colMarginLeft " name="GS9">
                                                        <span>Delay</span>
                                                    </form>
                                                    <div class="inline floatRight">

                                                        <div class="input-container bigTextFiled pull-left">

                                                            <input class="ng-pristine ng-untouched ng-valid" type="number" ng-model="advanced.pStationOverlapOrDelaySecs" min="0" max="200" required>
                                                            <span class="unit">Secs</span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>





        </div>

    </div>





</div>






