<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CommServer.Hydra2.CNF" connectionString="data source=rnd1.glc-service.com,50001\SQLEXPRESS;User Id=RemoteSQL;Password=12345;initial catalog=Hydra2GroupAdmin;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
