<div class="row" ng-if="device">

    <ol class="breadcrumb smaller">
        <li>

            <div class="horizenTitle inline">{{'MF_G_PROJECT' | translate}}:</div> <a data-toggle="tooltip" title="{{device.projectName}}" class="fontSizeMed inline Dots_3 maxBreadCrampWidth" ng-click="goToPage('project',device.parentSiteInfo.projectID)">{{device.parentSiteInfo.projectName}}</a>
        </li>
        <li ng-if="device.parentSiteInfo.projectID !=device.parentSiteInfo.siteID ">
            <div class="horizenTitle inline">{{'MF_G_SITE' | translate}}:</div> <a data-toggle="tooltip" title="{{device.siteName}}" class="fontSizeMed inline Dots_3 maxBreadCrampWidth" ng-click="goToPage('site',device.parentSiteInfo.siteID)">{{device.parentSiteInfo.siteName}}</a>
        </li>
        <li>
            <div class="horizenTitle inline">{{'MF_G_DEVICE_NAME' | translate}}:</div> <a data-toggle="tooltip" title="{{device.deviceName}}" class="fontSizeMed inline Dots_3 maxBreadCrampWidth" ng-click="goToPage('device', deviceId)">{{device.deviceName}}</a>

        </li>
        <li>
            <div class="horizenTitle inline">{{'MF_G_ZONE_NAME' | translate}}:</div> <span data-toggle="tooltip" title="{{zone.zoneNumber}}.{{zone.name}}" class="fontSizeMed inline Dots_3 maxBreadCrampWidth inline blackOrWhite">{{zone.zoneNumber}}.{{zone.name}}</span>

        </li>

    </ol>


</div>


<div>
    <div ui-view="">
    </div>
</div>


