@media (min-width: 1900px){

.graphResponsive{
    width:700px;
    height:350px;
}

}
@media (min-width: 1590px) and (max-width: 1850px){

.graphResponsive{
    width:550px;
}

}
@media (min-width: 1520px) and (max-width: 1589px){

.graphResponsive{
    width:510px;
}

}
@media (min-width: 1410px) and (max-width: 1519px){

.graphResponsive{
    width:470px;
}

}
@media (min-width: 1310px) and (max-width: 1409px){

.graphResponsive{
    width:430px;
}

}
@media (min-width: 1200px) and (max-width: 1309px){

.graphResponsive{
    width:370px;
}

}
@media (min-width: 1050px) and (max-width: 1199px){

.graphResponsive{
    width:290px;
}

}
@media (min-width: 990px) and (max-width: 1049px){

.graphResponsive{
    width:270px;
}

}
@media(max-width: 989px){

.graphResponsive{
    margin-bottom:15px;
    width:480px;
}

}
@media(max-width: 529px){

.graphResponsive{
    margin-bottom:15px;
    width:300px;
}

}
@media(max-width: 350px){

.graphResponsive{
    margin-bottom:15px;
    width:250px;
}

}