/* Import Icon fonts and web font */
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700";
@import "http://weloveiconfonts.com/api/?family=entypo";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Colors declarations */
/* General styles */
.WeatherWrapper {
  border-radius: 7px;
}



section {
        height: 335px;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
    position: relative;
    border-radius: 7px;
    width: 350px;
    border: 1px solid;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
    max-width: 335px;

}
section h1 {
    position: relative;
    font-size: 25px;
}
section h3 {
    padding: 0px 0px 7px 15px;
    position: relative;
    font-size: 14px;
}
section p {
        margin: 25px 40px -7px 0px
}

section h4 {
  
  
    font-size: 56px;
    width: 120px;
    color: #3D414C;
    margin-right: 15px;
}

.weatherDateTd{
   width: 170px;
    max-width: 170px;
    word-break:break-all;
}

section .temperature {
    color: #3D414C;
    transition: color 0.5s ease;
    font-family: 'entypo', sans-serif;
}
section .temperature h2 {
    display: inline;
    color: #eee;
    font-weight: 300;
      font-size: 6em;
}
section .temperature img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    
}
section .temperature h2 {
    display: inline;
    color: #eee;
    font-weight: 300;
    border-bottom: 1px solid;
        padding-bottom: 7px;
}


section .temperature h2 span.degree-symbol {
  display: inline-block;
  margin: 0px 15px;
  font-size: 0.6em;
  vertical-align: top;
}
section .temperature h2 span.celcius {
  display: inline-block;
  margin: 10px 0px 0px 15px;
  color: #3D414C;
  font-size: 0.3em;
  vertical-align: top;
}
section ul {
 padding: 0px 0px 0px 120px;
    margin-bottom: 35px;
}
section ul li {
  display: block;
  float: left;
  margin-right: 60px;
  color: teal;
  font-size: 2em;
}
section ul li:last-child {
  margin-right: 0px;
}
section ul li span {
  padding-left: 10px;
  color: #eee;
  font-size: 0.6em;
  line-height: 30px;
  vertical-align: top;
}
section ul li div {
    padding: 0 0 0 0;
    color: darkslategrey;
    font-size: 12px;
    line-height: 30px;
    vertical-align: top;
}

.towTemperature{
    font-size:40px;
}


.towTemperature {
    font-size: 30px;
}
section ul {
    padding: 0px 0px 0px 40px;
    margin-bottom: 50px;
}

section h4 {
    font-size: 40px;
    width: 80px;
    margin-right: 13px;
}
section p {
    margin: -12px 20px -9px 0px;
}
section .temperature img {
    width: 80px;
    height: 80px;
}
section {
   width: 95%;
}










/*******************************************************big View*/
.weatherTable{
    width:450px;
}
.weatherList li{
    list-style-type: none;
    min-height: 40px;
}
.panelWeather{
  overflow: hidden;
  width:470px;
  padding: 0px;
 
}
.panelWeather .panel{
  width:435px;
}
.weatherAddress{
  padding-left: 10px;
  min-width: 306px;
}
.weatherAddress span{
        margin-left: 15px;
}
.knobInner{
    margin: 20px 0px -9px 15px;
}
.savingTag{
    position: absolute !important;
    margin: -20px 0 0 0px;
    font-weight:bold;
}
.settingTag{
    position: absolute !important;
    margin: 9px 0 0 0px;
    font:15px;
}
.weatherAll .weatherOneDay {
width: 80px;
    background: transparent;
    border: none;
    border-right: 1px solid #606D4F;
    float: left;
    font-size: 15px;
    position: relative;
    text-align: center;
    min-width: 68px;
    margin-bottom: 30px;
}

.weatherAll .weatherOneDay h3 span {
   display: block;
  font-family: serif;
  height: 69px;
  margin: -12px auto -65px;
  width: 100px;
  line-height: 61px;

}
.weatherAll .weatherOneDay li {
    border-top: 1px solid;
    border-top-color: #576380;
    padding: 1px 0px 0px 0px;
    margin-left: -50pX;
    font-size: 12px;
    font-family: initial;
    width: 65px;

}
.dayName{
       background: darkcyan;
    width: 52px;
    height: 25px;
    padding: 5px 0px 0px 0px;
    display: table;
    margin: 7px auto;
    color: white;
}
.templateColor.header{
    font-size: 25px;
    display: table;
    margin: 0 auto;
}
.weatherAll .weatherOneDay h3 {
  background-color: #EEEEEE;
  font-size: 28px;
  font-weight: normal;
  margin: -20px -20px 50px;
  padding: 7px;
}
.weatherAll .weatherOneDay:nth-child(1) h3 {
  border-radius: 5px 0 0 0;
  background:#3C3E63;
}
.outer {
    padding: 4px;
    position: relative;

}

.outer .outerFirstPanel span{
   
    top: 5%;
    font-size: large;
}
.outer .outerFirstPanel p{
    
    top: 13%;
    font-size: medium;
   
}

.outer .outerFirstPanel h5 {


  top: 5%;
  font-size: large;
  
}

.outer .outerSecPanel{
    
          margin: 30px 0px 0px 0px;
}


.knobWeather{
    display:inline-block;
}







/*small weather*/
.smallWeatherRight{
    margin: -35px 50px 0px 0px;
    width: 150px;
    
}
.smallWeatherRight p{
   font-size: 16px;
    font-weight: bold;
    max-width: 170px;
    margin: 0px 0px 0px 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.smallWeatherRight .display{
        width: 120px;
    margin: 0 0 0 20px;
    position: absolute;
   
}

.smallWeatherRight .display .day{
    
    /*background: orange;*/
}
.smallWeatherRight .display .day p{
         font-size: 15px;
    font-weight: inherit;
    margin: 8px 0px 0px -15px;
    padding: 0 0 0 27px;
    border-bottom: 1px solid white;
    max-width: 180px;
}
.smallWeatherRight .display .day p.header{
        font-size: 28px;
    font-weight: bold;
    border-bottom: none;
    margin-left: -5px;
}
.smallWeatherRight .Weekly{
    position: absolute;
    margin: 54px 0px 0 165px;

}


.smallWeatherRight .icon{
    width: 60px;
    position: absolute;
    margin-left: 151px;
    margin-top: 0;
}

.smallWeatherRight .icon img{
    margin: -20px 0px 0px 0px;
}
.knobLoc{
    margin: -35px 245px 0px 10px;
}



/*@media (max-width: 440px) {
    .outer .outerSecPanel {
        margin: 30px 0px 0px 20%;
    }
}*/

