.body{
    overflow-y:auto;
}
.wellcomeBox {
    width: 165px;
}
.wellcomeBox:last-child {
    width: 120px;
}
.wellcomeArrow{
   width: 100px;
    margin-bottom: 60px;
}
.wellcomeAdd{
    font-size: xx-large;
}
.smallViewPreviewTabs{
width: 100%;
    border-bottom: 1px solid lightgray;
    margin: 31px 0px 0px 20px;

}
.nevigationWindow a{
    color:black;
}
.statsDropDown{
        margin-right:15px!important;
}
.subTabsRowBig{
         display:block;
    }
    .subTabsRowSmall{
       
        display:none;
    }
.captcha{
    background: white;
    width: 226px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 4px 0px 4px 7px;
}
.captcha .code{
    font-size: 30px;
    color: black;
}
.captcha .code::first-letter{
    color: red;
}
.absolute{
    position:absolute;
}
.wifiImgDiv{
    margin: 15px 0 0 25px;
}
.fixProjectActionSettings{
    padding:7px;
}
.wifiImgDiv span{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 10px 0px 0px 0px;
    font-size: 20px;
}
.wifiImgDiv .z{
    z-index:3;
}
.captcha .line{
    width: 215px;
    border-bottom: 1px solid black;
    position: absolute;
    height: 2px;
    margin: 17px 0px 0px 0px;
}
.addDeviceMap{
    margin: 0px 7px 0px 7px;
}
.wifiImage{
    width: 150px;
}
.macroModal{
    width: 250px;
    display: table;
    margin: 0 auto;
}
.macroModal button{
        min-width: 160px;
}
.maxBreadCrampWidth{
       max-width: 100px;
}
.breadcrumb i {
    margin-left: 7px;
    padding-top: 4px;
}
.smallViewSiteTabs{
        display:none;
    }
.maxTreeLableWidth {
    width: 105px;
}
ul.main-navigation-menu li > ul.sub-menu {
    margin: -1px 0;
}
/*seasson*/
input[type=checkbox].css-checkbox {
display:none;
}



.previewTabs.fc-header-right.subTabs {
    right: 3px;
    margin-bottom: 10px;
    margin-top: 11px;
    padding: 1px 0px 1px 0px;
}

input[type=checkbox].css-checkbox + label
{
    background-image: url("/Content/img/xx.png");
  
    height: 20px;
    background-repeat: round;
    width: 20px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin: 0px 0px 0px 13px;
}
input[type=checkbox].css-checkbox:checked + label
{

 background: rgba(245, 245, 245, 0.72);
height: 20px;
width: 20px;
display:inline-block;
padding: 0 0 0 0px;
margin: 0px 0px 0px 13px;
}
 .showSmallSetting{
    display:none;
 }

 .my-box {
       border: 1px solid lightgrey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-width: 83px;
    margin-top: 30px;
    display: inline-block;
}
.my-box .my-header {
        height: 30px;
    background: grey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid white;
        padding: 4px;
}
.my-box .my-header span{
    display: table;
    margin: 0px auto;
}
.my-box .my-body {
    height: 55px;
    margin-top: 7px;
    margin-left: 4px;
    margin-right: 4px;
        min-width: 70px;
}

.my-box .my-body .left {
    max-width: 110px;
    font-size: 20px;
}
.my-box .my-body .right {
    font-size: 25px;
    color: lightblue;
}

.my-box .my-body .down{
    display: inline-block;
    font-size: 10px;
}


/*leftMessage near map*/
.btn-block{
    width: 80px;
    height: 80px;
    display: inline-block;
    background: transparent;
}

.btn-icon i {
     color: white;
    font-size: 25px;
    position: absolute;
    margin: 0px 0px 0px 51px;
}
.btn-block .wraperTitle{
      height: 35px;
    background: grey;
    color: white;
    margin: -42px -1px 6px -1px;
}
.btn-block + .btn-block {
    margin-top: 15px;
}
.btn-block i{
       font-size: 20px;
}
.btn-block hr{
    margin: 4px 0px 4px 0;
}
.btn-block p{
   margin:0;
}
.btn-block .headTitle{
  
    font-size:12px;
}
.btn-block .headTitle.message{
        margin: -37px 0 0 0;
         word-wrap: break-word;
}
.btn-block .val{
    font-size: 22px;
    color: white;
    position: absolute;
    margin: -5px 0px 0px 2px;
}
.btn-block .units{
    color: white;
    position: absolute;
    margin: 22px 0 0px 44px;
    font-size: 11px;

}
.btn-block .link{
    
    margin-left: 24px;
    margin-top: 7px;

}
.leftMessages{
          margin: -23px 0px 0px 15px;
}
.captchaBtn{
    color: #fff;
    background-color: #569099;
    border-color: #4d8189;
    height: 27px;
    width: 29px;
    padding: 3px 0px 0px 0px;
    margin: -4px 0px 0px 8px;
}
.squareInside{
    background-color:ghostwhite;
}
.squareInside > .message{
    font-size: 27px;
    color: steelblue; 
}
.squareInside > .message > span{
   font-size:medium;
   color:black; 
   margin-left:7px;
}
.squareInside > .symbole > img{
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
.squareInside > .status{
    font-size: 27px;
        color: green;
}
.squareInside > .status  span{
     font-size:medium;
   color:black; 
   margin-left:7px;
}
/*navbar*/

ul.main-navigation-menu li a .icon-arrow.actionsMenu {
    float: left;
    margin-right: 6px;
}
/*my tabs*/
.fc-state-default.fc-corner-left {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}
.fc-state-default.active {
    font-size: 15px;
    font-weight: 600;
}
.topNevigation .fc-state-default.fc-corner-left {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
   
}
.fc-header .fc-state-active, .fc-header .ui-state-active {
    z-index: 4;
}
.fc-header .fc-button {
    margin-right: -1px;
}
.fc-header .fc-button {
    margin-bottom: 1em;
    vertical-align: top;
}
.fc-button {
    position: relative;
    overflow: hidden;
    line-height: -9.1em;
    white-space: nowrap;
    cursor: pointer;
    color: black;
    background: lightgrey!important;
    padding: 7px 4px 9px 3px;
}
.fc-state-default.active {
    border: 1px solid lightgrey!important;
    border-bottom: transparent!important;
}
.fc-state-default {
    border: none;
}

.fc-header-right {
    position: relative !important;
    float: right;
    right: 9px;
}
.fc-header-right.device{
    right: 18px;
}
.fc-header-right.subTabs .fc-button{
            padding: 7px 5px 2px 6px;
}
.fc-header-right.subTabs {
    right: 3px;
    margin-bottom: 10px;
    margin-top: 12px;
    padding: 0px 0px 1px 0px;
}
.topNevigationDevice.subTabs{
        right: 3px;
    margin-bottom: 10px;
    margin-top: 11px;
    padding: 0px 0px 1px 0px;
}
.fc-header-right.subTabs .fc-state-default.active {
         border-bottom: transparent!important;
    padding: 8px 5px 2px 5px!important;
    z-index: 2;
}
deviceLine .fc-header-right.subTabs .fc-state-default.active {
    border-bottom: transparent!important;
    padding: 4px 5px 4px 5px!important;
    z-index: 2;
}
.deviceLine. smallViewPreviewTabs {
    margin: 34px 0 0 0;
}

.my-box .my-body .left {
     color: white; 
}
.navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

.table-responsive-stats {
          width: 100%;
          margin-bottom: 15px;
          overflow-x: auto;
          overflow-y: hidden;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          border: 1px solid #ddd;
}
.previewMapDevice{
    margin-top:7px;
}
.minHeightWeather{
    margin-top: 35px;
    min-height:60px;
}
.topNevigation.gsiMainNevigation {
    margin: -129px -25px 0 0;
}
.gsiWeather{
    margin-top:0px;
}
.weatherSmall {
        min-height: 60px;
}
.navigation-small ul.main-navigation-menu > li .input-group{
		display:none !important;
}
.navigation-small ul.main-navigation-menu > li .addProject{
		display:none !important;
        background:#999!important;
}
.navigation-small ul.main-navigation-menu > li .wrapper{
		display:none !important;
}
.navigation-small ul.main-navigation-menu > li .pagination{
		display:none !important;
}
.navigation-small ul.main-navigation-menu > li .colorBlue {
		display:none !important;
}
.navigation-small .menuePager  {
		display:none !important;
}
.current-user{
        margin: 7px 0 0 0;
}
#map-canvas-site { 
     height: 482px;
   }
.nevigationWindow{
    margin:0 0 0 0;
        color: black;
   
}
.nevigationWindow span{
    color:black;
}
.navbarSearchProject{
    margin:0 0 0 0;
}
/*Seport*/
.faqHeader {
   font-size: 27px;
   margin: 20px;
 }
/*messges*/
#page-sidebar {
  overflow-x: hidden;
}
.messageSidebar{
    right:-500px;
}
.insideMessagePanel{
   right:0px !important;
}
textarea {
  height:auto;
  font-size:13px;
  width:200px;
  border-radius:3px;
  border:none;
  box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
  padding:5px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
}

.statsMinWidth{
   min-width: 113px;
}
.faqText{
    display:inline-block;
    width:90%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.minSitePreviewPanelBody{
      min-height: 360px;
}

.topNevigation{
    margin: -42px -37px 0 0px;
    font-size: 14px;
}
#dragbar{
    background-color: lightgrey;
    float: left;
 
}
#dragbar .dragButton{
        font-size: 22px;
    position: absolute;
    color: rgb(86, 144, 153);
    top: 154px;
    width: 35px;
    height: 36px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #eee;
    padding: 5px 0px 0px 3px;
    margin-left: 0px;
    cursor: pointer;
    background: rgba(245, 245, 245, 0.26);
    z-index: 999;
}

.navigation-toggler {
    background: lightgrey;
}
.navigation-toggler, .go-top {
    background-color: #E4E5E6 !important;
    color: #b1b1b1;
}
.navigation-toggler {
    background: lightgrey;
}
.navigation-toggler, .go-top {
    background-color: #E4E5E6 !important;
    color: #b1b1b1;
}
.subp{
    height:150px;
    background:yellow;
}

.sub-menu{
    padding: 15px 0 15px 0px;
}
.navEye{
    margin: 0px 7px 0px 0px;
    font-size: 16px;
    color: lightblue;
    float: right;
}


.menuePager{
       display: table;
    margin: 0 auto;
}
.imageDeviceWelcomeWraper{
    width:130px;

}
.welcomeOneItem {
    margin-bottom: 15px;
    border-bottom: 1px solid linen;
    padding: 0px 0px 15px 0px;
    border-bottom-style: dashed!important;
}
.welcomeOneItem .pdf{
   color:grey;
}
.welcomeOneItem:last-child{
    border-bottom: none;
     border-bottom-style: none!important;
}
.allWelcomeFrame hr{
    border-top:3px solid #eee;
}



@media (min-width: 1560px) and (max-width:1800px) {
   .typesPanel{
    height:373px;
    }
    
    
    .smallWeather{
        display:none;
    }
    .bigWeather{
        display:block;
}
}

@media (min-width: 1560px) and (max-width:1740px) {
   .previewMapDevice {
    width: 86%;
    margin-left: 5%;
    }
}

@media (min-width: 1300px) and (max-width: 1560px) {

    .previewMapDevice {
        width: 86%;
        margin-left: 5%;
    }
}
@media (min-width: 1200px) and (max-width: 1560px) {
    
    
    .ml-offset{
       width:35%;
    }
    
   
    .smallWeather{
        display:block;
    }
    .zonesFlowSensor{
        width:50%;
    }
    .zonesSettings{
        width:50%;
    }
   .typesPanel{
    height:373px;
    } 
    .SuggestionSmallDivImg{
        display:none!important;
    }
   
 
   .bigWeather{
        display:none;
   }
   .zoneLeftCol{
      width:40%;
    }
   .zoneRightCol{
     width:50%;
   }
}

@media (max-width: 1300px){
.deviceList{
      margin-right:0px;
}
.smallWeather{
        display:block;
    }
    .bigWeather{
        display:none;
}
       .ml-offset{
       width:38%;
    }
    

    .zoneFlowPanel{
       margin: 7px 0px 0px 0px;
       width:100%;
     }
   .zoneSettingsPanel{
      margin: 7px 0px 0px 0px;
      width:100%;
    }
}

@media (max-width: 1200px){
.page-header.devicePage{
        margin: 15px 7px -110px 0;
}
.devicePage .minHeightWeather {
        min-height: 145px;
}
}
@media (min-width: 990px)and (max-width:1300px){
.zoneLeftCol{
      width:50%;
    }
   .zoneRightCol{
     width:50%;
   }
   .previewMapDevice {
    width: 83%;
    margin-left: 8%;
}
}
@media (max-width: 1200px){
    
    .maGpm{
         padding-left:0px;
    }
      .ml-offset{
       width:100%;
    }

   
    
}
@media (max-width: 1016px){
    
      .minHeightWeather{
            min-height: 65px;
            
   
}
   
    
}
/******************************************************************************************************************/
@media (max-width: 991px) {
      .leftDiv{
            border-right: none;
       }
      .topNevigation {
        margin: -43px -37px 0px 0px;
       }
      
           
    
      .HugeTextFiled.Name {
            border: none;
            width: 120px!important;
       }
      .minHeightWeather {
            margin-top: 30px;
       }
 
}


/*********************************************************************************************************************/
@media (max-width: 850px) {

#map-canvas-site { 
   height: 365px;
}
#map-canvas-project{
   height: 365px;
}
#map-canvas-transfer{
   height: 250px;
}
.setOnlineTime{
    margin-top:15px;
}

.deviceLed {
  margin: 7px -7px -7px 0px;
}

.dropdown-menu.messeges{
    margin: 0 0 0 55px;
}
.dropdown-menu.color{
    margin: 0 0 0 -128px;
}
.dropdown-menu.translate{
    margin: 0 0 0 -128px;
}
.navbar-tools .dropdown-menu{
        position: inherit;
}
.deviceTabs{
        margin: 0 7px 0 0;
}

}
 @media (max-width: 991px) {
    .my-box {
    min-width: 0px;
    display: inline-block;
}
   
    .subTabsRowBig{
        display:none;
    }
    .subTabsRowSmall{
        display:block;
    }
   
}  


    @media (max-width: 767px) {
        .delByDay {
            margin: 0px 7px 5px 0px;
            width: 15px;
            height: 19px;
            padding: 0px 0px 0px 0 !important;
        }

        #dragbar .dragButton {
            display: none;
        }

        .mainNevigationWraper {
            height: 100%;
            position: initial;
        }

        

        .topNevigation {
            margin: -43px -22px 0px 0px;
        }
        .statsDropDown{
        margin-left:15px!important;
      
}

       

        
    }
 

@media (max-width: 550px) {

    .smallViewPreviewTabs {
    width: 100%;
}
    .modal-dialog {
       margin: 45px 10px 0px 15px;
}
  .topNevigation {
    margin: -43px -23px 0px 0px;
    font-size: 11px;
   }
   .HugeTextFiled.Name {
     display:none;
   }
  .edit-user-info{
     display:none;
   }

 
  .minHeightWeather {
      margin-top:30px;
    float:left;
   }
 .page-header.devicePage {
    margin: 15px 7px -50px 0;
}

.breadcrumb.smaller {
        padding: 4px 0px 0px 0px;
    font-size: 12px;
}
.breadcrumb {
    padding: 12px 0px 0px 13px;
    font-size: 13px;
}

.zoneTab{
       margin-top: 145px!important;
}
.setOnlineTime{
    margin-left: 30%; 
}
.gaugeWraper{
    margin-left:20%;
    max-width:500px;
}
.onlineDeshbordWidth{
    max-width:100%;
}
.onlineBody{
   max-height:100%;
}
.onlineZoneNameTd{
    width:50px!important;
}
.onlineZoneClockTd{
    width:50px!important;
}

.outerOnlineLights {
    margin: 0 auto;
    display: table;
    float: initial;
}
 .welcomeCol1{
       width:100%!important;
   }
   .welcomeCol2{
        width: 100%!important;
    margin-left: 10px;
    max-width: 160px;
    margin-bottom: 30px;
   }
   .welcomeCol3{
        width: 100%!important;
    margin-left: 13px;
    max-width: 160px;
    margin-bottom: 30px;
   }
   .welcomeOneItem {
     margin-left: 28%;
   }
        /*.welcomeOneItem {
    border-bottom: none!important;
}*/


}

@media (max-width: 485px) {
    .allWelcomeFrame h3{
        font-size:17px!important;
    }
    .welcomeOneItem {
     margin-left: 20%;
   }
    .minHeightWeather {
   margin-top: 70px;
    margin-bottom: 15px;
}
    .breadcrumb {
    padding: 12px 0px 0px 13px;
    font-size: 13px;
    border-bottom: none;
}

    .smallViewSiteTabs{
          display: block;
    height: 34px;
    background: grey;
    width: 100%;
    border-bottom: 1px solid white;
    position: absolute;
    z-index: 1;
    margin-top: -1px;
}
    
  
     .topNevigation {
       margin: -16px -24px 0px 0px;
    font-size: 11px;
    height: 34px;
    padding: 6px 1px 0px 1px;
    z-index: 2;
}
  

   
    .leftMessages {
display: table;
    margin: 0px auto;
    margin-bottom: 15px;
}
    



}
@media (max-width: 343px) {

     .devicePage.weatherSmall {
    margin-top: 60px;
    margin-bottom: -15px;
    float:none;
}
       .smallWeatherRight .icon {
    margin-left: 15px;
}
 .smallWeatherRight p {
    display:none;
}
 .smallWeatherRight .display .day p.header {
    display: block;
    margin: 33px 0px 0px -34px;
    position: absolute;
}
 .smallWeatherRight .display {
     width: 60px; 
     position: relative; 
}
 .smallWeatherRight .Weekly {
    margin: 70px 0px 0 29px;
}
 .knobLoc {
   margin: 0px 0px 40px 0px;
   display:none;
}

 .showSmallSetting{
    display: block;
    position: absolute;
    margin: -40px 0px 0 0px;
 }
 .minHeightWeather {
            margin-top: 100px;
            margin-bottom: 0;
   }
  .welcomeOneItem {
     margin-left: 10%;
   }
}