<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="REMOTE_DATABASE_URL" connectionString="Server=51.17.121.203\QCC,1433;Database=CalibratorProd;User Id=sinova;Password=Vn1129##;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="MySQLConnector" connectionString="Server=127.0.0.1;uid=root;pwd=1010;database=dbo;" providerName="MySql.Data.MySqlClient" />
		<add name="MabaDatabase" connectionString="Server=DEV2\\SQLEXPRESS;Database=MabaDB;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Device_7E_port" value="50000" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
