<div class="row" ng-if="device">

    <ol class="breadcrumb smaller">
     
        <li>

            <div class="horizenTitle inline">{{'MF_G_PROJECT' | translate}}:</div> <a class="fontSizeMed Dots_3 inline maxBreadCrampWidth" ng-click="goToSite(device.parentSiteInfo.projectID)" data-toggle="tooltip" title="{{device.parentSiteInfo.projectName}}">{{device.parentSiteInfo.projectName}}</a>
        </li>
        <li ng-if="device.parentSiteInfo.projectID !=device.parentSiteInfo.siteID">
            <div class="horizenTitle inline">{{'MF_G_SITE' | translate}}:</div> <a class="fontSizeMed Dots_3 inline maxBreadCrampWidth" ng-click="goToSite(device.parentSiteInfo.siteID)" data-toggle="tooltip" title="{{device.parentSiteInfo.siteName}}">{{device.parentSiteInfo.siteName}}</a>
        </li>

        <li>
            <div class="horizenTitle inline">{{'MF_G_DEVICE_NAME' | translate}}:<span class="fontSizeMed inline Dots_3 maxBreadCrampWidth colMarginLeft" data-toggle="tooltip" title="{{currentDevice.name}}">{{currentDevice.name}}</span></div> 
            <i ng-if="nextPrev.prevShow" class="clip-arrow-left" ng-click="prev()"></i>
            <i ng-if="nextPrev.nextShow" class="clip-arrow-right" ng-click="next()"></i>
        </li>
        

    </ol>


</div>
<div class="col-lg-12 col-md-12 col-xs-12" ng-if="device">
    <div class="page-header devicePage">

        <input type="text" class="HugeTextFiled Name ng-pristine ng-valid ng-touched colMarginLeft font17" ng-model="currentDevice.name" select-on-click="" edit-input-text="changeDeviceName(currentDevice.sn,currentDevice.name)"><input type="button" class="editGo" value="Confirm" style="display: none;"><a><i class="fa fa-pencil edit-user-info"></i></a>
        <div weather-directive param="device" class="devicePage" ng-class="{weatherSmall:privilige ,gsiWeather:currentDevice.deviceType.name=='GSI'}"></div>

       

    </div>
    <div ui-view="">
        <!--shmulik-->
    </div>
 
</div>


