<form name="addSiteform" novalidate>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{'MF_PROJECT_ADD_NEW_SITE'|translate}}
                <div class="panel-tools">
                    <span data-toggle="tooltip" title="{{'MF_ADD_SITE_QUESTION' | translate}}"><i class="clip-question-2" phone-tooltip var1="MF_ADD_SITE_QUESTION" var2="modal"></i></span>
                    <i data-dismiss="modal" class="clip-close-3" ng-click="resetModal(addSiteform)"></i>

                </div>
            </div>
            <div class="modal-body">

                <span ng-show="isAddSite">
                    {{'MF_G_SITE_NAME'|translate}} :

                    <input type="text" ng-model="siteName" name="siteName" class="HugeTextFiled" ng-minlength="2" required />
                    <br />
                    <span class="validationMsg" ng-messages="addSiteform.siteName.$error" ng-show="addSiteform.siteName.$touched">
                        <span ng-message="minlength">{{'G_F_V_MIN_LENGTH' | translate : {count:2} }}</span>
                        <span ng-message="required">{{'G_F_V_REQUIRED' | translate}}</span>
                    </span>
                </span>
                <br />
                <span ng-show="!isAddSite">maximum nastable sites 5</span>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="resetModal(addSiteform)">
                    {{'G_CLOSE' | translate}}
                </button>
                <button  type="button" class="btn btn-dark-grey ladda-button" ladda="addSiteLadda" data-style="expand-right" data-spinner-size="30" ng-click="saveNewSite(dismiss ,addSiteform.$valid)">
                    <i class="fa fa-save ng-scope"></i> | {{'G_SAVE' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>