USE [master]
GO 
/****** Object:  Database [IdentityAdmin]    Script Date: 29/03/2015 10:42:44 ******/
CREATE DATABASE [IdentityAdmin] ON  PRIMARY 
( NAME = N'IdentityAdmin', FILENAME = N'E:\Cyber-Rain(9.2)\DB\IdentityAdmin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IdentityAdmin_log', FILENAME = N'E:\Cyber-Rain(9.2)\DB\IdentityAdmin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
use [IdentityAdmin]
GO

/****** Object:  Schema [RoleManager]    Script Date: 09/04/2015 09:42:46 ******/
CREATE SCHEMA [RoleManager]
GO
/****** Object:  Schema [UserManager]    Script Date: 09/04/2015 09:42:46 ******/
CREATE SCHEMA [UserManager]
GO
/****** Object:  StoredProcedure [RoleManager].[Role_Create]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_Create]
	-- Add the parameters for the stored procedure here
		@Name		varchar(100),
		@Id         INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   IF NOT EXISTS  (SELECT 1
					 FROM [RoleManager].[Roles]
					 WHERE [RoleManager].[Roles].Name = @Name
					 OR [RoleManager].[Roles].RoleId =@Id )
					 BEGIN 
						INSERT [RoleManager].[Roles]
						( [RoleID]
						  ,[Name])
					  VALUES 
					  (@Id,
					  @Name)
					END
	
END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_Delete]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_Delete]
	-- Add the parameters for the stored procedure here
		
		@Id         INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	DELETE FROM [RoleManager].[Roles]
	WHERE RoleID = @Id

END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_FindById]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_FindById]
	-- Add the parameters for the stored procedure here
		@Id		INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	
SELECT [RoleID]
	  ,[Name]
  FROM [RoleManager].[Roles]
  WHERE [RoleID] =@Id
	
END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_FindByName]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_FindByName]
	-- Add the parameters for the stored procedure here
		@Name		varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	
SELECT [RoleID]
	  ,[Name]
  FROM [RoleManager].[Roles]
  WHERE [Name] =@Name
	
END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_GetRoleId]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_GetRoleId]
	-- Add the parameters for the stored procedure here
		@RoleName		varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	select * FROM [RoleManager].[Roles]
	WHERE  Name = @RoleName
	
END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_GetUserRoles]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_GetUserRoles]
	-- Add the parameters for the stored procedure here
		@UserID		BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	SELECT [UserID]
	  ,[RoleManager].[UserRoles].[RoleID]
	  ,Name
  FROM [RoleManager].[UserRoles]
  inner join [RoleManager].Roles on [RoleManager].Roles.RoleID = [RoleManager].[UserRoles].RoleID
  WHERE [UserID] =@UserID
	
END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_RemoveRole]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_RemoveRole]
	-- Add the parameters for the stored procedure here
		@UserID		BIGINT,
		@RoleName VARCHAR(100),	
		@Result  tinyint OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	Declare @rolesId  INT  = -1

	SET @rolesId = (SELECT  TOP(1)[RoleID]
					FROM [RoleManager].[Roles]
					WHERE [Name] = @RoleName)

	IF(@rolesId<>-1)
	BEGIN
		DELETE FROM [RoleManager].[UserRoles]
		WHERE UserID = @UserID AND  RoleID =  @rolesId
	END 
	
END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_Update]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_Update]
	-- Add the parameters for the stored procedure here
		@Name		varchar(100),
		@Id         INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	UPDATE [RoleManager].[Roles]
	SET Name = @Name
	WHERE RoleID = @Id

END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_UserInsertRole]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_UserInsertRole]
	-- Add the parameters for the stored procedure here
		@UserID		BIGINT,
		@RoleName VARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	Declare @rolesId  INT 

	SET @rolesId = (SELECT  TOP(1)[RoleID]
					FROM [RoleManager].[Roles]
					WHERE [Name] = @RoleName)

   INSERT INTO [RoleManager].[UserRoles]
		   ([UserID]
		   ,[RoleID])
	 VALUES
		   (@UserID
		   ,@rolesId) 
	
END



GO
/****** Object:  StoredProcedure [RoleManager].[Role_UserIsInRole]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [RoleManager].[Role_UserIsInRole]
	-- Add the parameters for the stored procedure here
		@UserID		BIGINT,
		@RoleName VARCHAR(100),	
		@Result  tinyint OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here

	Declare @rolesId  INT 

	SET @rolesId = (SELECT  TOP(1)[RoleID]
					FROM [RoleManager].[Roles]
					WHERE [Name] = @RoleName)

	if EXISTS(SELECT 1 
				FROM [RoleManager].[UserRoles]
				WHERE [UserID] = @UserID
				AND [RoleID] = @rolesId) 
			BEGIN
				SET @Result  = 1 
			END 
			ELSE
			BEGIN
		
				SET @Result  = 0 
			END 
		   
	
END



GO
/****** Object:  StoredProcedure [UserManager].[User_AddClaim]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_AddClaim]
	-- Add the parameters for the stored procedure here
		@Value		nvarchar(50),
		@Type		varchar(100),
		@Id         bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	INSERT INTO [UserManager].[UserClaim]
		   (UserID
		   ,[ClaimType]
		   ,[ClaimValue])
	 VALUES
		   (@Id
		   ,@Type
		   ,@Value)
	
END



GO
/****** Object:  StoredProcedure [UserManager].[User_AddUserLogin]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_AddUserLogin]
	-- Add the parameters for the stored procedure here
		@LoginProvider NVARCHAR(128),
		@ProviderKey   NVARCHAR(128),
		@Id			   bigint 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	if  NOT EXISTS(SELECT  1 FROM [UserManager].[UserLogin]
					WHERE [UserID] = @Id 
					AND [ProviderKey] = @ProviderKey 
					AND @LoginProvider = [LoginProvider])

	BEGIN
	INSERT INTO [UserManager].[UserLogin]
		   ([UserID]
		   ,[ProviderKey]
		   ,[LoginProvider])
	 VALUES
		   (@Id
		   ,@ProviderKey
		   ,@LoginProvider)

	   END
END



GO
/****** Object:  StoredProcedure [UserManager].[User_Create]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_Create]
	-- Add the parameters for the stored procedure here
	@UserName				NVARCHAR(50),
	@FirstName				NVARCHAR(20),
	@LastName				NVARCHAR(20),
	@UserGuid				NVARCHAR(50),
	@PasswordHash			VARCHAR(100),
	@Email					nvarchar(50),
	@LockoutEnabled			BIT,
	@Id						BIGINT OUTPUT
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	IF NOT EXISTS  (SELECT 1
					 FROM [UserManager].[ApplicationUser]
					 WHERE [UserManager].[ApplicationUser].UserName = @UserName 
					 AND [UserManager].[ApplicationUser].Email = @Email )
					BEGIN
						INSERT INTO [UserManager].[ApplicationUser]
							   ([UserGuid]
							   ,[Email]
							   ,FirstName
							   ,LastName
							   ,[UserName]
							   ,[PasswordHash]
							   ,LockoutEnabled)
						 VALUES
							   (@UserGuid,
							   @Email,
							   @FirstName,
							   @LastName ,
							   @UserName,
							   @PasswordHash,
							   @LockoutEnabled)
					END

	SET @Id=SCOPE_IDENTITY()

	SELECT @Id
	RETURN @Id
		 
END


GO
/****** Object:  StoredProcedure [UserManager].[User_Delete]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_Delete]
	-- Add the parameters for the stored procedure here
	@Id    bigint
	
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM [UserManager].ApplicationUser
	WHERE UserID = @Id
	
END

GO
/****** Object:  StoredProcedure [UserManager].[User_FindById]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_FindById]
	-- Add the parameters for the stored procedure here
	@Id bigint
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT *
	FROM [UserManager].ApplicationUser
	WHERE [UserID] = @Id
END



GO
/****** Object:  StoredProcedure [UserManager].[User_FindByLoginUser]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_FindByLoginUser]
	-- Add the parameters for the stored procedure here
		@LoginProvider NVARCHAR(128),
		@ProviderKey   NVARCHAR(128)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT  *
	FROM UserIdentity.UserLogin
	WHERE LoginProvider = @LoginProvider 
	AND ProviderKey =  @ProviderKey
END



GO
/****** Object:  StoredProcedure [UserManager].[User_FindByName]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_FindByName]
	-- Add the parameters for the stored procedure here
	@UserName NVARCHAR(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT  *
	FROM [UserManager].ApplicationUser AS ApplicationUser
	WHERE ApplicationUser.Username = @UserName 
END



GO
/****** Object:  StoredProcedure [UserManager].[User_GetClaims]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_GetClaims]
	-- Add the parameters for the stored procedure here
		@Id		BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	SELECT UserID
	  ,[ClaimType]
	  ,[ClaimValue]
  FROM [UserManager].[UserClaim]
  WHERE [UserID] =@Id
	
END




GO
/****** Object:  StoredProcedure [UserManager].[User_GetUserByEmail]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_GetUserByEmail]
	-- Add the parameters for the stored procedure here
	@Email nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	SELECT *
	FROM [UserManager].ApplicationUser
	WHERE [Email] =@Email
END




GO
/****** Object:  StoredProcedure [UserManager].[User_GetUserLogins]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_GetUserLogins]
	-- Add the parameters for the stored procedure here
		@Id			   bigint 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	select  *
	 FROM [UserManager].[UserLogin]
	WHERE  [UserID] = @Id 
	
END



GO
/****** Object:  StoredProcedure [UserManager].[User_RemoveClaim]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_RemoveClaim]
	-- Add the parameters for the stored procedure here
		@Value		nvarchar(50),
		@Type		varchar(100),
		@Id         bigint
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	delete from  [UserManager].[UserClaim]
	where [UserId] = @Id
	and [ClaimType] = @Type
	and [ClaimValue] = @Value
	
END



GO
/****** Object:  StoredProcedure [UserManager].[User_RemoveUserLogin]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_RemoveUserLogin]
	-- Add the parameters for the stored procedure here
		@LoginProvider NVARCHAR(128),
		@ProviderKey   NVARCHAR(128),
		@Id			   bigint 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	
	DELETE FROM [UserManager].[UserLogin]
	WHERE  [UserID] = @Id 
	AND [ProviderKey] = @ProviderKey 
	AND [LoginProvider] = @LoginProvider
	
END



GO
/****** Object:  StoredProcedure [UserManager].[User_Update]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [UserManager].[User_Update]
	-- Add the parameters for the stored procedure here
	@Id						BIGINT,
	@UserName				NVARCHAR(50),
	@FirstName				NVARCHAR(20),
	@LastName				NVARCHAR(20),
	@UserGuid				NVARCHAR(50),
	@PasswordHash			VARCHAR(100),
	@Email					nvarchar(50),
	@SecurityStamp			VARCHAR(50),
	@TwoFactorEnabled		BIT,
	@PhoneNumber			VARCHAR(20),
	@PhoneConfirmed			BIT,
	@EmailConfirmed			BIT,
	@AccessFailedCount		INT,
	@LockoutEnabled			BIT,
	@LockoutEndDateUtc		DATETIME
					  
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
   
	UPDATE [UserManager].ApplicationUser
	SET	  [UserGuid]          = @UserGuid,
		  [SecurityStamp]     = @SecurityStamp,
		  [TwoFactorEnabled]  = @TwoFactorEnabled,
		  [PhoneNumber]       = @PhoneNumber, 
		  [PhoneConfirmed]    = @PhoneConfirmed, 
		  [FirstName]         = @FirstName, 
		  [LastName]          = @LastName,
		  [Email]             = @Email, 
		  [EmailConfirmed]    = @EmailConfirmed, 
		  [AccessFailedCount] = @AccessFailedCount, 
		  [LockoutEnabled]	  = @LockoutEnabled, 
		  [LockoutEndDateUtc] = @LockoutEndDateUtc,
		  PasswordHash        = @PasswordHash,
		  UserName			  = @UserName
	 WHERE UserId =@Id 
		 
END


GO
/****** Object:  Table [RoleManager].[Roles]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [RoleManager].[Roles](
	[RoleID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [RoleManager].[UserRoles]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RoleManager].[UserRoles](
	[UserID] [bigint] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_RoleManager.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [UserManager].[ApplicationUser]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [UserManager].[ApplicationUser](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserGuid] [varchar](50) NULL,
	[SecurityStamp] [varchar](50) NULL,
	[CreationDate] [datetime] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[PhoneConfirmed] [bit] NOT NULL,
	[AlwaysValid] [bit] NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[AccessFailedCount] [int] NULL,
	[LockoutEnabled] [bit] NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [varchar](100) NULL,
 CONSTRAINT [PK_ApplicationUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [UserManager].[UserClaim]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [UserManager].[UserClaim](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ClaimType] [varchar](100) NOT NULL,
	[ClaimValue] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserClaim] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ClaimType] ASC,
	[ClaimValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [UserManager].[UserLogin]    Script Date: 09/04/2015 09:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [UserManager].[UserLogin](
	[UserID] [bigint] NOT NULL,
	[ProviderKey] [varchar](128) NOT NULL,
	[LoginProvider] [varchar](128) NOT NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProviderKey] ASC,
	[LoginProvider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_CreationDate]  DEFAULT (getutcdate()) FOR [CreationDate]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_TwoFactorEnabled]  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_PhoneConfirmed]  DEFAULT ((0)) FOR [PhoneConfirmed]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_AlwaysValid]  DEFAULT ((1)) FOR [AlwaysValid]
GO
ALTER TABLE [UserManager].[ApplicationUser] ADD  CONSTRAINT [DF_ApplicationUser_EmailConfirmed]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [RoleManager].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_RoleManager.UserRoles_Roles] FOREIGN KEY([RoleID])
REFERENCES [RoleManager].[Roles] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [RoleManager].[UserRoles] CHECK CONSTRAINT [FK_RoleManager.UserRoles_Roles]
GO
ALTER TABLE [RoleManager].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_ApplicationUser] FOREIGN KEY([UserID])
REFERENCES [UserManager].[ApplicationUser] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [RoleManager].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_ApplicationUser]
GO
ALTER TABLE [UserManager].[UserClaim]  WITH CHECK ADD  CONSTRAINT [FK_UserClaim_ApplicationUser] FOREIGN KEY([UserID])
REFERENCES [UserManager].[ApplicationUser] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [UserManager].[UserClaim] CHECK CONSTRAINT [FK_UserClaim_ApplicationUser]
GO
ALTER TABLE [UserManager].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_ApplicationUser] FOREIGN KEY([UserID])
REFERENCES [UserManager].[ApplicationUser] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [UserManager].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_ApplicationUser]
GO
