<div class="modal-dialog">
    <div class="modal-content">
        <div ng-if="type == 'Site' || type == 'Project'" class="modal-header">
            {{'G_DELETE'|translate}} {{type}} : {{projectOrSiteName}}
             <div class="panel-tools">
                <span data-toggle="tooltip" title="{{'MF_DELETE_SITE_CAPTCHA_QUESTION' | translate}}"><i class="clip-question-2" phone-tooltip var1="MF_DELETE_SITE_CAPTCHA_QUESTION" var2="modal"></i></span>
                 <i data-dismiss="modal" class="clip-close-3" ng-click="closeModal()"></i>
            </div>
        
        </div>
        <div ng-if="type == 'device'" class="modal-header">
            {{'G_DELETE'|translate}} {{type}} : {{currentDevice.name}}
            <div class="panel-tools">
                <span data-toggle="tooltip" title="{{'MF_DELETE_DEVICE_CAPTCHA_QUESTION' | translate}}"><i class="clip-question-2" phone-tooltip var1="MF_DELETE_DEVICE_CAPTCHA_QUESTION" var2="modal"></i></span>
                <i data-dismiss="modal" class="clip-close-3"></i>
            </div>
        </div>
        <div class="modal-body">
         
                <span>{{text}}</span>
        
          
            <br />
            <h5>{{text1}}</h5>
            <br />
            <div class="captcha">
            
               <div class="line"></div>
               <div class="code">{{code}}</div>
            
            </div>
           
                <input type="text" ng-model="myString.str" required /><a class="btn btn-primary captchaBtn colMarginLeft" ng-click="Captcha()"><i class="fa fa-refresh"></i></a>
           
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="closeModal()">
                {{'G_CANCEL'|translate}}
            </button>
            <button type="button" class="btn btn-dark-grey" ng-click="confirm()">
                {{'G_DELETE'|translate}}
            </button>
        </div>
    </div>
</div>