<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<!-- <add name="KyulanSyncDB" connectionString="Server=pri-test\PRI;Database=Calibrator; User Id=kyulan;Password=abam;TrustServerCertificate=True;" /> -->

		<!-- <add name="mysqlconnector" connectionstring="server=127.0.0.1;uid=root;pwd=1010;database=dbo;" providername="mysql.data.mysqlclient" /> -->

		<!-- <add name="mabadatabase" connectionstring="server=dev2\\sqlexpress;database=mabadb;" providername="mysql.data.mysqlclient" /> -->
		
		<!-- <add name="kyulansyncdb" connectionstring="server=pri-test\PRI;Database=Calibrator; User Id=kyulan;Password=abam;TrustServerCertificate=True;" /> -->
		
		<add name="KyulanSyncDB" connectionString="Server=Maba-priority\PRI;uid=kyulan;pwd=abam;database=Calibrator;" providerName="MySql.Data.MyqlClient" />
	</connectionStrings>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
