<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<connectionStrings>
		<add name="KyulanSyncDB" connectionString= "Server=pri-test\PRI;Database=Calibrator; User Id=kyulan;Password=abam;TrustServerCertificate=True;"/>

		<add name="MySQLConnector" connectionString="Server=127.0.0.1;uid=root;pwd=1010;database=dbo;" providerName="MySql.Data.MySqlClient"/>

		<add name="MabaDatabase" connectionString= "Server=DEV2\\SQLEXPRESS;Database=MabaDB;" providerName="MySql.Data.MySqlClient"/>
		
		<add name="KyulanSyncDB" connectionString= "Server=pri-test\PRI;Database=Calibrator; User Id=kyulan;Password=abam;TrustServerCertificate=True;"/>
		
		<add name="MabaDatabase1" connectionString= "Server=pri-test\\PRI;uid=kyulan;pwd=abam;database=Calibrator;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Device_7E_port" value="50000"/>
	</appSettings>
</configuration>
