<div class="modal-dialog">
    <div class=" modal-content">
    <div class="modal-header">
        {{'MF_DEVICE_ONLINE_HOLD_DEVICE'|translate}}
        <div class="panel-tools">
            <a data-toggle="tooltip" title="{{'DEVICE_HOLD_QUESTION' | translate}}"><i class="clip-question-2" phone-tooltip var1="DEVICE_HOLD_QUESTION" var2="modal"></i></a>
            <i data-dismiss="modal" class="clip-close-3"></i>
        </div>
    </div>
    <div class="modal-body">
        <form name="myForm">
            <table class="table">

                <tbody>
                    <tr>
                        <td class="firstRow">{{'MF_DEVICE_VIEW_IS_ON' | translate}}</td>
                        <td class="firstRow">
                            <div id="change-color-switch" class="make-switch has-switch" data-on="default" data-off="primary">
                                <div class="switch-animate" ng-class="isDeviceOn ? 'switch-on' : 'switch-off'" ng-click="switchBotton(this);">
                                    <input type="checkbox" ng-model="isDeviceOn" checked><span class=" switch-left switch-default">{{'G_ON' | translate}}</span><label>&nbsp;</label><span class="switch-right switch-primary">{{'G_OFF' | translate}}</span>
                                </div>
                            </div>
                            <br />

                        </td>

                    </tr>
                    <tr ng-if="!isDeviceOn">


                        <td>
                            <input type="radio" ng-model="deviceStatus.type" value="custom">  <b>{{'G_CUSTOM'|translate}}</b> <br /><br />
                            <div class="panelsMargin">
                                <span> {{'MF_DEVICE_ONLINE_HOLD_UNTIL_DATE'|translate}}:</span>
                                <div class="input-group">
                                    <input type="text" class="textFiledClassSmall dateTextFiled" ng-model="deviceStatus.date" ng-change="setDate(deviceStatus.date)" date-picker-directive readonly>
                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                </div>
                                <br />

                                <span> {{'MF_DEVICE_ONLINE_HOLD_UNTIL_TIME'|translate}}:</span>
                                <div class="input-group">
                                    <input class="dateTextFiled timePicker2" type="text" ng-model="deviceStatus.time" time-picker2 param="{{clockType}}" readonly>
                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                </div>
                                <br /><br />
                            </div>
                            <input type="radio" ng-model="deviceStatus.type" value="Permantly"> <b>{{'MF_DEVICE_ONLINE_PERMANTLY_HOLD'|translate}}</b> <br />
                        </td>

                        <td></td>
                    </tr>

                </tbody>
            </table>

        </form>


</div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">
           {{'G_CLOSE' | translate}}
        </button>
        <button type="button" data-dismiss="modal" class="btn btn-dark-grey ladda-button" ladda="ladda.hold" data-style="expand-right" data-spinner-size="30" ng-click="saveHold(dismiss)">

            <i class="fa fa-save ng-scope"></i> | {{'G_SAVE' | translate}}
        </button>
    </div>
</div>
</div>