
<div class="row subTabsRowBig">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="fc-header-right subTabs">
            <span ng-click="goTo('Plist')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.list')}" data-toggle="tooltip" title="{{'MF_SITE_PREVIEW_DEVICES' | translate}}"><i class="clip-list-2"></i></span>
            <span ng-click="goTo('PMap')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.map')}" data-toggle="tooltip" title="{{'MF_G_MAP' | translate}}"><i class="clip-location"></i></span>
            <!--<span ng-click="goTo('PSquares')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.squares')}"><i class="fa fa-th"></i></span>
            <span ng-click="goTo('Graphs')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.graphs')}"><i class="clip-stats"></i></span>
            <span ng-click="goTo('Calandar')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.calandar')}"><i class="clip-calendar-3"></i></span>-->
        </div>
        <div class="smallViewPreviewTabs"></div>
    </div>
</div>
<div class="row">
    
    <div class="col-lg-1 col-md-1 col-xs-12">
        <div left-messages class="leftMessages"></div>
    </div>
    <div class="col-xs-12 subTabsRowSmall">
        <div class="previewTabs fc-header-right subTabs">
            <span ng-click="goTo('Plist')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.list')}" data-toggle="tooltip" title="{{'MF_SITE_PREVIEW_DEVICES' | translate}}"><i class="clip-list-2"></i></span>
            <span ng-click="goTo('PMap')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.map')}" data-toggle="tooltip" title="{{'MF_G_MAP' | translate}}"><i class="clip-location"></i></span>
            <!--<span ng-click="goTo('PSquares')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.squares')}"><i class="fa fa-th"></i></span>
        <span ng-click="goTo('Graphs')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.graphs')}"><i class="clip-stats"></i></span>
        <span ng-click="goTo('Calandar')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('site.preview.calandar')}"><i class="clip-calendar-3"></i></span>-->
        </div>
        <div class="smallViewPreviewTabs"></div>
    </div>
    
    <div class="col-lg-11 col-md-11 col-xs-12 previewMapDevice">
        
 
        <div id="siteDevicesPanel" ui-view="">
        </div>
    </div>
    
</div>
