
<div class="panel panel-default ">
    <div class="panel-heading">
        <i class="clip-list-2"></i>
        Online

    </div>
    <div class="panel-body minSitePreviewPanelBody">
        <ul class="navlist">
            <li ng-repeat="tb in controllers track by $index">

                <div class="panel panel-default squareSize inline">
                    <div class=" panel-heading ">
                        <i class=" fa fa-inbox">
                    </i>
                        <a ng-click="goToOnlineView(tb)">{{tb.name}} ({{tb.deviceType}})</a>
                    <div class="panel-tools">
                        <i class="toggelPanel fa fa-chevron-down" close-panel=""></i>
                    </div>
                </div>
                    <div class="panel-body squareInside cursorPointer" ng-click="goToShortOnline(tb)" data-toggle="modal" data-target="#squareModal" data-backdrop="false">


                        <div class="message">
                            <i class="fa  fa-envelope-o"></i><span>55</span>
                        </div>
                        <div class="symbole">
                            <img src="content/img/Valve_running(1).gif" class="img-responsive">
                        </div>
                        <div class="status">
                            <i class="clip-checkmark-circle"><span>{{'G_ACTIVE'|translate}}</span></i>
                        </div>


                    </div>
                </div>

            </li>

        </ul>

    </div>
</div>
    <!--******************modal***********************-->
    <div id="squareModal" class="modal" ng-if="currentDevice">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>{{currentDevice.name}}</span>
                </div>
                <div class="modal-body">
                    <img ng-if="currentDevice.deviceType == 'XCI-WIFI' || currentDevice.deviceType == 'XCI'" src="app/modules/module.site/module.preview/squares/onlineXci.png" class="img-responsive" />
                    <img ng-if="currentDevice.deviceType == 'GSI-AG' || currentDevice.deviceType == 'GSI'" src="app/modules/module.site/module.preview/squares/onlineGsi.png" class="img-responsive" />
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        {{'G_CLOSE' | translate}}
                    </button>

                </div>
            </div>
        </div>
    </div>




