
<div ng-if="!finishSetZone">
    <div class="allAdviser" ng-if="!setZonesDefinition">
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 mainTitles">
                
                <br />
                
                <!--************************-->
                <div class="space26" ng-click="getSelectedType('plantType',0)" ng-class="{selected: 0 == choosenTypeNumber}">
                    <div class="typeTitle">{{'MF_DEVICE_ADVISER_ZONE_TYPES_0' | translate}}</div>
                    <div class="inline">
                        <img class="circle-img adviserChoosenImg" alt="" ng-src={{adviser.categories.plantType.selected.imageURI}}>
                    </div>

                </div>
                <!--************************-->
                <div class="space26" ng-click="getSelectedType('sprinklerType',1)" ng-class="{selected: 1 == choosenTypeNumber}">
                    <div class="typeTitle">{{'MF_DEVICE_ADVISER_ZONE_TYPES_1' | translate}}</div>
                    <div class="inline">
                        <img class="circle-img adviserChoosenImg" alt="" ng-src={{adviser.categories.sprinklerType.selected.imageURI}}>
                    </div>

                </div>
                <!--************************-->
                <div class="space26" ng-click="getSelectedType('slopeType',2)" ng-class="{selected: 2 == choosenTypeNumber}">
                    <div class="typeTitle">{{'MF_DEVICE_ADVISER_ZONE_TYPES_2' | translate}}</div>
                    <div class="inline">
                        <img class="circle-img adviserChoosenImg" alt="" ng-src={{adviser.categories.slopeType.selected.imageURI}}>
                    </div>

                </div>
                <!--************************-->
                <div class="space26" ng-click="getSelectedType('soilType',3)" ng-class="{selected: 3 == choosenTypeNumber}">
                    <div class="typeTitle">{{'MF_DEVICE_ADVISER_ZONE_TYPES_3' | translate}}</div>
                    <div class="inline">
                        <img class="circle-img adviserChoosenImg" alt="" ng-src={{adviser.categories.soilType.selected.imageURI}}>
                    </div>

                </div>
                <!--************************-->
                <div class="space26" ng-click="getSelectedType('sunExposureType',4)" ng-class="{selected: 4 == choosenTypeNumber}">
                    <div class="typeTitle">{{'MF_DEVICE_ADVISER_ZONE_TYPES_4' | translate}}</div>
                    <div class="inline">
                        <img class="circle-img adviserChoosenImg" alt="" ng-src={{adviser.categories.sunExposureType.selected.imageURI}}>
                    </div>

                </div>
             
            </div>
       
            <div class="col-lg-12 col-md-12 col-xs-12 mainTabMargin" ng-if="hideRecLink">
                <div ng-if="adviser.suggestions" class="marginInnerTd">

                    <i ng-if="adviser.suggestions.isAccepted" data-toggle="tooltip" title="{{'MF_DEVICE_ADVISER_SUGGESTION_TRUE' | translate}}" class="marginInnerTd clip-lamp" style="color:green"></i><i ng-if="!adviser.suggestions.isAccepted" data-toggle="tooltip" title="{{'MF_DEVICE_ADVISER_SUGGESTION_FALSE' | translate}}" class="clip-lamp" style="color: rgb(212, 212, 36);"></i><a ng-click="openRecomendation()">{{'MF_DEVICE_ADVISER_SUGGESTION_SHOW' | translate}}</a>



                </div>
            </div>
        </div>
        

        <div class="Recomendation" ng-if="showHideRecommendation">
            <div class="alert alert-block alert-success fade in">
             
                <h4 class="alert-heading"><i class="clip-leaf colMarginRight"></i>{{'MF_DEVICE_ADVISER_CYBER_RAIN_SUGGESTION'| translate}}</h4>
                <div class="table-responsive">
                    <table class="table">

                        <tbody>
                            <tr>
                                <td class="firstRow">
                                    
                                </td>
                                <td class="firstRow colorBlack center">
                                    <b>{{'G_CURRENT'| translate}}</b>
                                </td>
                                <td class="firstRow colorBlack center">
                                    <b>{{'MF_DEVICE_ADVISER_SUGGESTION'| translate}}</b>
                                </td>
                            </tr>
                            <tr>
                                <td ng-if="tableType=='Weekly'" class="firstRow colorBlack">{{'MF_DEVICE_ADVISER_TOTAL_WEEKLY_MINUTES' | translate}}</td>
                                <td ng-if="tableType!='Weekly'" class="firstRow colorBlack">{{'MF_DEVICE_ADVISER_TOTAL_DAILY_MINUTES' | translate}}</td>
                                <td class="firstRow">
                                    <!--here need to get from service real irrigation-->
                                    <div class="input-container mediumInput ">
                                        <input readonly type="text" ng-model="adviser.current.current_TotalWeeklyMinutes" class="field left mediumInput ng-pristine ng-valid ng-touched">
                                        <span class="unit">{{'G_MINUTES'|translate}}</span>
                                    </div>
                                </td>
                                <td class="firstRow">
                                    <div class="input-container mediumInput ">
                                        <input readonly type="text" ng-model="adviser.suggestions.suggestion_TotalWeeklyMinutes" class="field left mediumInput ng-pristine ng-valid ng-touched">
                                        <span class="unit ng-binding">{{'G_MINUTES'|translate}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstRow colorBlack">{{'MF_DEVICE_ADVISER_TOTAL_WEEKLY_DAYS' | translate}}</td>
                                <td class="firstRow">
                                    <div class="input-container mediumInput ">
                                        <input readonly type="text" ng-model="adviser.current.current_WateringDays" class="field left mediumInput ng-pristine ng-valid ng-touched">
                                        <span class="unit ng-binding">{{'G_DAYS'|translate}}</span>
                                    </div>
                                </td>
                                <td class="firstRow">
                                    <div class="input-container mediumInput ">
                                        <input readonly type="text" ng-model="adviser.suggestions.suggestion_TotalWeeklyDays" class="field left mediumInput ng-pristine ng-valid ng-touched">
                                        <span class="unit ng-binding">{{'G_DAYS'|translate}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstRow colorBlack">{{'MF_DEVICE_ADVISER_MAX_CYCLE' | translate}}</td>
                                <td class="firstRow">
                                    <div class="input-container mediumInput ">
                                        <input readonly type="text" ng-model="adviser.current.maxCycleTime" class="field left mediumInput ng-pristine ng-valid ng-touched">
                                        <span class="unit ng-binding">{{'G_MINUTES'|translate}}</span>
                                    </div>
                                </td>
                                <td class="firstRow">
                                    <div class="input-container mediumInput ">
                                        <input readonly type="text" ng-model="adviser.suggestions.suggestion_MaximumCycleMinutes" class="field left mediumInput ng-pristine ng-valid ng-touched">
                                        <span class="unit ng-binding">{{'G_MINUTES'|translate}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="firstRow colorBlack">{{'MF_DEVICE_ADVISER_SOAK_TIME' | translate}}</td>
                                <td class="firstRow">
                                    <div class="input-container mediumInput ">
                                        <input readonly type="text" ng-model="adviser.current.maxSoakTime" class="field left mediumInput ng-pristine ng-valid ng-touched">
                                        <span class="unit ng-binding">{{'G_MINUTES'|translate}}</span>
                                    </div>
                                </td>
                                <td class="firstRow">
                                    <div class="input-container mediumInput">
                                        <input readonly type="text" ng-model="adviser.suggestions.suggestion_SoakTimeMinutes" class="field left mediumInput ng-pristine ng-valid ng-touched">
                                        <span class="unit ng-binding">{{'G_MINUTES'|translate}}</span>
                                    </div>
                                </td>
                            </tr>
                     
                        </tbody>
                    </table>
                </div>
                <p>
                    <a class="btn btn-light-grey" ng-click="closeRecomendation()">
                        {{'G_CLOSE' | translate}}
                    </a>
                    <a class="btn btn-green" ng-click="AcceptSuggestions()">
                        {{'MF_DEVICE_ADVISER_ACCEPT_SUGGESTION' | translate}}
                    </a>

                </p>
            </div>
            
        </div>
    





        <div id="adviserBigImgFrame" class="adviserBigImgFrame">

            <div class="closeAdviser" ng-click="closeAdviser()">
                <i class="clip-close-2"></i>
            </div>

            <div class="row bigScreen">
                <div class="col-lg-6 col-md-6 col-xs-6">
                    <div class="list">
                        <ul>
                            <li ng-repeat="s in choosenType.restType track by $index" ng-class="{ active: s.typeID == choosenType.selected.typeID }">
                                <div ng-click="getSelectedSubType(s)">{{'MF_DEVICE_ADVISER_ZONES_SUB_TYPES_TITLE_'+choosenType.advisorTypeID+'_'+s.typeID | translate}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="longText">
                        {{'MF_DEVICE_ADVISER_ZONES_SUB_TYPES_DESCRIPTION_'+choosenType.advisorTypeID+'_'+choosenType.selected.typeID | translate}}
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-xs-6">
                    <div class="innerImgFrame">
                        <div class="title">
                            <b>{{'MF_DEVICE_ADVISER_ZONES_SUB_TYPES_TITLE_'+choosenType.advisorTypeID+'_'+choosenType.selected.typeID | translate}}</b>
                        </div>
                        <br />
                        <div class="rateTitle" ng-if="choosenType.advisorTypeID == 0 || choosenType.advisorTypeID == 1">
                            <span>{{'MF_DEVICE_ADVISER_ZONE_RATE_'+choosenType.advisorTypeID | translate}}:</span>
                            <div class="input-container rateText inline" ng-if="choosenType.selected">
                                <input type="text" ng-model="choosenType.selected.value" read-condition param="{{choosenType.selected.isCustom}}" />
                                <span class="unit-adviser">{{'MF_DEVICE_ADVISER_ZONE_TYPE_UNITS_'+choosenType.advisorTypeID | translate}}</span>
                            </div>
                        </div>
                        <br />
                        <img ng-src="{{choosenType.selected.imageURI}}" />


                    </div>

                </div>

            </div>
            <div class="row smallScreen">

                <div class="row">
                    <div class="list">
                        <ul>
                            <li ng-repeat="s in choosenType.restType track by $index" ng-class="{ active: s.typeID == choosenType.selected.typeID }">
                                <div ng-click="getSelectedSubType(s)">{{'MF_DEVICE_ADVISER_ZONES_SUB_TYPES_TITLE_'+choosenType.advisorTypeID+'_'+s.typeID | translate}}</div>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="row">

                    <div class="longText">
                        {{'MF_DEVICE_ADVISER_ZONES_SUB_TYPES_DESCRIPTION_'+choosenType.advisorTypeID+'_'+choosenType.selected.typeID | translate}}
                    </div>

                </div>
                <div class="row">
                    <div class="innerImgFrame">
                        <div class="title">
                            <b>{{'MF_DEVICE_ADVISER_ZONES_SUB_TYPES_TITLE_'+choosenType.advisorTypeID+'_'+choosenType.selected.typeID | translate}}</b>
                          {{choosenType.advisorTypeID}}
                         </div>
                        <br />
                        <div class="rateTitle" ng-if="choosenType.advisorTypeID == 0 || choosenType.advisorTypeID == 1">
                            <span>Rate:</span>
                            <div class="input-container rateText inline">
                                <input type="text" ng-model="choosenType.selected.value" read-condition param="{{choosenType.selected.isCustom}}" />
                                <span class="unit-adviser">{{'MF_DEVICE_ADVISER_ZONE_TYPE_UNITS_'+choosenType.advisorTypeID | translate}}</span>
                            </div>
                        </div>
                        <br />
                        <img ng-src="{{choosenType.selected.imageURI}}" />


                    </div>


                </div>


            </div>
      

            
            </div>

        </div>
          




            </div>
  

    <br />


    


