
.msgDiv {
    padding: 22px 22px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    width: 98%;
    line-height: 22px;
    -moz-animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    animation: fadeIn 2s; 
}

.allDiv{
    position:relative;
    width:90%;
}
.msgDiv a{
    color: darkcyan;
    font-size: 14px;
}
.fixLoading{
    background:lightgrey;
    width:30px;
    height:30px;
    border-radius:30px;
    position:fixed;
    top: 5%;
    left: 50%;
    z-index:9999;
    display:none;
}
.fixLoading-inner {
    z-index: 99999;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-top: 6px;
    margin-left: 6px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(87, 113, 145,1);
    border-right: 5px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 15px #577191;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
      0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #577191;
      }
      50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
      }
      100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
      }
    }

.btn-google-plus {
  color: #ffffff;
  background-color: #dd4b39;
  border-color: #c53727;
    margin-bottom: 15px;
}
.btn-facebook {
  color: #ffffff;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #133783;
  border-color: #133783;
  margin-bottom: 15px;
}
.btn-facebook :hover {
  color: lightgray;
 
}

h4 { width:100%; text-align:center; border-bottom: 1px solid #E6E1E1; line-height:0.1em; margin:10px 0 20px; } 
h4 span { background:#fff; padding:0 10px; }

h5{
    font-weight:bold;
}

.red{
    color:red;
    
}
.none{
    display:none;
}
.center{
    display:table;
    margin:0 auto;
}
.msgDiv {
     padding: 22px 22px;
    border: 1px solid lightgray;
    border-radius: 15px;
    line-height: 22px;
    background-color: #faffbd;
    display: none;
}
.imgLogo{
    width:200px;
    max-height:150px;
}

.thankYouSuccess{
    display:none;
}
.thankYouError{
    display:none;
}
.thankYouLoading{
    display:none;
}
.profileContaneir{
    padding: 80px 0 0 80px;
}
.LoginLogoContainer{
    padding: 15px 15px 0px 15px;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.arrow_img {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
    display:none;

}
 
.appDiv {
  margin: 10px;

}
 
.appUl {
  list-style-type: none;
  width: 500px;
  margin-left: -50px;
  
}
 
appH3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
.appUl li img {
    float: left;
    margin: 0 15px 0 0;
    width: 70px;
    height: 70px;
  
}
 
.appUl li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.appUl li {
  padding: 10px;
  overflow: auto;
  
  
}
 
.appUl li:hover{
  background: #eee;
  cursor: pointer;
  
}
.margin-right{
    margin-right:100px;
}
.loginBtn{
   margin: -65px 27px 0 0;
}

.logo{
  width: 280px;
  height: 88px;
}

.flickerplate {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.fullBodyImg{
    width:100%;
}
.grid-image {
  position: relative;
  cursor: pointer;
}
.flagImg{
   width: 30px;
    height: 30px;
    margin-right: 7px;
   
}
.dropdown{
    cursor:pointer;
}
.pull-right>.dropdown-menu {
    right: 0;
    left: auto;
    margin: -30px 0 0 0;
}
.pull-right>.dropdown-menu>li {
    cursor :pointer;
}
/*************************************/
@media (min-width: 992px){
.navbar-default.space-top {
   top: 0; 
}
}

@media (max-width: 550px) {
.imgLogo{
    width:200px;
    max-height:150px;
}
.profileContaneir{
    padding: 30px 0 0 15px;
}
.loginBtn{
      margin: -35px 10px 0 0;
}

.logo{
    width: 186px;
  height: 70px;
}
body.login .main-login {
    margin-top: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}

}
@media (max-width: 400px) {

    .appUl h3{
        font-size:19px;
    }

}
