
<a ng-click="openModal()">

    <span class="title"><i class="fa fa-plus addSomting"></i><span class="colMarginLeft">{{'MF_DEVICE_ADD_ADD_NEW_DEVICE' | translate}}</span> </span>

</a>
<div id="addCtrl" class="modal">
    <div class="modal-dialog" style="max-width: 350px;">
        <form name="addForm" novalidate="">
            <div class="modal-content">
                <div class="modal-header">
                    <span>{{'MF_DEVICE_ADD_ADD_NEW_DEVICE' | translate}}</span>
                    <i data-dismiss="modal" class="clip-close-3 pull-right" ng-click="closeModal()"></i>

                </div>
                <div ng-show="step=='deviceSettings'">
                    <div class="modal-body my-modal-body">



                        <div class="form-group">
                            <label class="control-label">{{"MF_DEVICE_ADD_NAME" | translate}}</label>
                          
                            <input type="text" ng-model="tempName" class="form-control" id="name" name="name" ng-minlength="2" required>
                            <div class="validationMsg" ng-messages="addForm.name.$error" ng-if="validation.name">
                                <div ng-message="minlength">{{'G_F_V_MIN_LENGTH' | translate : {count:2} }}</div>
                                <div ng-message="required">{{"G_F_V_REQUIRED" | translate}}</div>

                            </div>
                         </div>
                        <div class="form-group">
                            <label class="control-label">{{"MF_G_SERIAL" | translate}}</label>

                            <input type="text" ng-disabled="blockedSN" ng-model="tempSn" ng-model-options="{debounce: 1500}" class="form-control" id="sn" name="sn">
                            <div class="validationMsg" ng-if="snERROR">
                                <span>{{"G_F_V_ONLY_DIGITS_NUMBERS_COUNT" | translate : {count:16} }}</span>

                            </div>
                        </div>
                        <div class="form-group" ng-if="ctrlDetails && !snERROR">
                            <label class="control-label">{{"MF_DEVICE_ADD_DEVICE_ZONES" | translate}}</label>
                            <br />
                            <div class="btn-group">
                                <a data-toggle="dropdown" class="btn btn-med-grey dropdown-toggle">
                                    {{ctrlDetails.activeZones}} <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation" ng-repeat="item in zonesNum" ng-click="ctrlDetails.activeZones = item">


                                        {{item}}

                                    </li>


                                </ul>



                            </div>
                        </div>


                    </div>
                    <div ng-if="ShowMap  && blockedSN && ctrlDetails" class="addDeviceMap">
                        <div class="autocompleteDiv">


                            <input type="text" placeholder="Address or city" ng-model="search_data.address" googleplace="mapPlace" comm="connector" item="ctrlDetails.location" autocomplete="off">


                        </div>
                        <div id="mapPlace" style="height:200px"></div>
                    </div>
                </div>
                <div ng-if="step=='wifiConfig'">
                    <div class="modal-body my-modal-body">
                        <div wifi></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeModal()">
                        {{'G_CLOSE'|translate}}
                    </button>
                    <button type="button" ng-if="ShowMap  && blockedSN && step=='deviceSettings'" id="addDeviceModalFooter" ng-click="SaveNewDevice(addForm.$valid)" class=" btn btn-dark-grey ladda-button" ladda="ladda.SaveNewCtrl" data-style="expand-right" data-spinner-size="30">{{'G_NEXT' | translate}}</button>
                    <button type="button" ng-if="ShowMap  && blockedSN && step=='wifiConfig'" id="addDeviceModalFooter" ng-click="goToDevice()" class=" btn btn-dark-grey ladda-button" ladda="ladda.SaveNewCtrl" data-style="expand-right" data-spinner-size="30">{{'G_NEXT' | translate}}</button>

                </div>

            </div>
        </form>
    </div>
</div>
