body{
    position:relative;
    overflow-x: hidden;
    overflow-y: auto!important;
    min-height:100%;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
       border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
input[readonly=""].trans {
    background: grey!important;
    color:white!important;
}
.padding-0{
    padding:0!important;
}
input, optgroup, select, textarea {
    color: black;
}
#openSmallMenue{
    display:none!important;
}
a:focus, a:active {
    text-decoration: none;
}
.width100Precent{
    width:100%;
}
.absolute{
    position:absolute;
}
.inlineRegular{
    display:inline;
}
.rightDiv{
    border-right:1px solid;
}
.minWidth100{
    min-width:100px;
}
.modal-dialog {
    margin: 52px auto;
}
.mediumInput{
    width:60px;
}
.marginBottom7px{
    margin-bottom:7px!important;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}
.bigLink {
    font-size: 14px;
    font-weight: bold;
    cursor:pointer;
}
.Dots_3{

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin: 0 0 -7px 0px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

/*general*/
.navigation-toggler {
    margin-left: 190px;
}
.toggelPanel{
    margin: 4px 5px 0 0;
}
.buttonDisable{
    opacity:0.5!important;
}
.addButton{
    margin: 0px 0px 7px 0px;
}
i{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  
}
code {
    font-size: 95%;
}
.validationMsg code{
    color:red;
    background:#eee;
}
.editGo{
    height: 32px;
    color: black;
    margin: 11px 3px 0px 5px;
}
.colorBlue i {
    position: absolute;
    margin: 0 0 0 -20px;
}
.cursorPointer{
    cursor:pointer;
}
.red{
    color:red;
}
.middle{
    display:table;
    margin:auto;
}
.blueFont{
    color:blue;
}
.marginInnerTd{
    margin-left:15px;
}
vr{
    border-right: 2px solid;
    margin: 0 15px 0px 15px;
}
.addSomting{
    color:green!important;
}
.firstRowMargin{
    margin:0 0 0 -20px;
}
.deleteSomting{
    color:red!important;
}
.floatRight{
    float:right;
}
.width90{
    width:90%;
}
.width10{
    width:10%;
}
.HugeTextFiled.Name {
    border: none;
    margin-left: -15px!important;
}
.noMarginTable{
    margin-bottom:-7px;
}
.middleLine{
   line-height: 50px!important;
}
.positionR{
    position:relative!important;
}
.HugeTextFiledIncludeDateIcon{
    width:240px!important;
}
.smallTable{
    max-width:650px!important;
}
.modal-backdrop {
    z-index: 0;
}
.width200px{
    width:200px;
}
.width110px{
        width: 110px;
}
.width70PX{
    width:70px!important;
}
.width190PX{
    min-width: 250px!important;
}
.width113PX {
    width: 113px!important;
}
.width100PX {
    width: 100px!important;
}
.width105PX {
    width: 105px!important;
}
hr {
    width: 100%;
}
.marginTop50{
    margin-top:50px;
}
.width195{
    width:195px!important;
}
.colorBlack{
    color:black;
}
.minWidth650PX{
    min-width: 650px;
}
.boldName{
    font-weight:bold!important;
    font-size:15px!important;
}
.boldDate{
    font-weight:bold!important;
    font-size:16px!important;
    color:black!important;
}
.white{
    color:white!important;
}
.width80Precent{
    width:80%;
}
.width70Precent{
    width:70%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.width85Precent{
    width:85%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
a{
    cursor:pointer;
}
.inline{
    display : inline-block!important;
}
.margintop15{
    margin-top:15px!important;
}
.right15left15{
        margin: 0px 15px 0 15px;
}
input[type="text"] , input[type="email"] ,input[type="password"]{
 cursor:text;
 
}
.marginLeft3{
    margin-left:3px;
}
.fontSizeMed{
    font-size:medium;
}
.input-group-addon, .input-group-btn {
  width: 0%;
}
.widh100Precent{
    width:100%;
}
.btnMarginTop{
    margin-top:15px;
}
.underline{
  text-decoration: underline;
}
.showHideLink{
    font-size:15px;
    margin:15px;
}
.prevNext {
    margin: 0px 0px 0px 7px;
}
.editableText{
      font-family: 'Raleway', sans-serif !important;
      font-size: 24px !important;
}
.borderTop{
   border-top: 1px solid grey;
  width: 45px;
  margin: 15px -10px 0px 0px;
  padding: 10px 0px 5px 5px;
  font-size: 13px;
}

.popover {
  z-index: 2000;
}
.page-header {
 
  border-bottom: none;
}
.breadcrumb >li {
 margin-left:15px;
}
.breadcrumb {
    padding: 15px 45px 20px 35px;
}
.textFiledMargin{
  margin: 0px 0px 15px 0;
}
.panelsMargin{
    margin-left:15px;
}
.colMarginLeft{
    margin-left:7px;
}
.marginLeft50{
    margin-left:50px;
}
.colMarginRight{
    margin-right:15px;
}
.tabs-left .tab-content, .tabs-right .tab-content {
  overflow: hidden;
}
/*loadding*/
.fixLoading{
    background:white;
    width:30px;
    height:30px;
    border-radius:30px;
    position:fixed;
    top: 5%;
    left: 50%;
    z-index:9999;
    display:none;
}
.fixLoading-inner {
    z-index: 99999;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-top: 6px;
    margin-left: 6px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(87, 113, 145,1);
    border-right: 5px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 15px #577191;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}
.dateTextFiled{
    cursor:pointer!important;
}
.timePicker2{
   cursor:pointer!important;
}

.table-responsive{
    overflow-x:auto;
    
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    vertical-align: -webkit-baseline-middle;
}
.input-container {
   position: relative;
}
.input-container input {
    width: 100%;
}
.bigSizeButton{
    min-width:120px;
}
.page-header {
       margin: 15px 0px -15px -7px;
}
.marginTop0{
   margin-top: 0;
}
.marginBottom30{
   margin-bottom:30px;
}
.font20{
    font-size: 20px!important;
}

.font17{
    font-size: 17px!important;
}
.margintop25 {
    margin-top: 23px!important;

}
.input-container .unit {
       position: absolute;
    display: block;
    top: 10px;
    right: 20px;
    color: black;
    padding-left: 5px;
    font-size: 11px;
}
.fixSavePosition{
    position: absolute!important;
    bottom: 30px;
    right: 30px;
}
.containerSaveButtonMargin{
        margin-bottom: 50px;
}
.marginTop7{
    margin-top:7px;
}
.marginLeft25{
    margin-left:25px;
}
.ui-widget-content {
    z-index: 1051!important;
}
::-webkit-scrollbar
{
  width: 12px; 
  height: 12px; 
}
::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.min_height_61 {
    min-height: 61px;
}
.table-last-td-right tr td:last-child {
    float: right !important;
}
table td.firstRow , table th.firstRow{
    border:none !important;
}
.table > thead > tr > th{
    font-size:13px;   
}
.table > thead > tr > td{
    font-size:12px;
}
.sub-menu
{
    display:none;
}
.open div.sub-menu{
    display:block;
}

.navbar-tools > ul > li > a {
  padding: 15px 12px 9px;
  font-size: 13px;
}
.mainTabMargin{
  margin-top:50px;
}
.width_50_precent{
  width:50%;
}
.nav-tabs > li {
  margin-bottom: -2px;
}

.tabs-left > .nav-tabs > li {
  margin-left: -1px;
}
.input-group.date ,.input-group.time{
 max-width:140px;
}
.wrapper {
     position: relative; 
}
i.fa-icon {  
  position: absolute;
  top: 10px;
  left: 89%;
  opacity: 0.5;
}
.HugeTextFiled{
  width:200px !important;
}
.bigTextFiled{
 width: 80px !important;
}
.smallTextFiled{
  width:45px !important;
}
.tinyTextFiled{
  width:60px !important;
  height:60px!important;
  background-color: grey!important;
  font-size: xx-large!important;
}
.dateTextFiled{
  width: 150px !important;
      text-align: center;
}
.breadcrumb i {
    color: white;
}
.width80{
    width:80%;
}
.paddingLeft0{
    padding-left:0!important;
}
.margin7{
     margin:7px;
 }
.titleMin{
        width: 210px;
}
.padding5{
    padding:5px;
}
.height37{
    min-height:37px!important;
}
.marginLeft15{
    margin-left:-15px;
}
.marginRight7{
    margin-right:7px;
}

.dropdown-menu.color{
   overflow-y:hidden;
}
.scrollable-menu{
    max-height:200px;
    overflow:auto;
}
.dropdown-menu >li{
    border-bottom:1px solid;
}
.dropdown-menu >li:hover{     
    background-color:lightgray;
    cursor:pointer;
}
.dropdown-menu {
    top: 95%;
    max-height: 200px;
    overflow-y: auto;
    padding-left: 7px;
        min-width: 194px;
}
.dropdown-menu > li > a {
    padding: 3px 3px;
}
.dropdown-menu >li {
    max-width: 220px;
    overflow-x: visible;
}
.dropDownSearch{
  margin: 0px 7px 0 0;
}
.lineAbove{
  border-top:1px solid;
  padding-top: 10px;
}
.img-responsive {
  width: 100%;
}
.fa-plus-square{
        font-size: 15px;
}
.clip-close-3{
    font-size:medium;
}
/*drop down image*/
.smallMenuThreadImg{ 
  float: left;
  height: 0px; 
  width: 65px;
  height: 25px !important;
  margin: 10px 0px 0px 15px;
}
.smallMenuThreadImg > .Img{
    width:25px;
    height:25px;
}
.smallMenuThreadLanguage{
     padding: 10px 0px 0px 0px;
}
/*pagination*/

.pagination {
      margin: 4px 0px 0px 0px;
}
.pagination > li > a, .pagination > li > span {
  padding: 2px 6px;
}
/*modal*/
.modal {
    background-color: rgba(0, 0, 0, 0.7)!important;
    overflow-x: hidden;
}
.modal-header {
  font-size: initial;
}

.modal-open {
  overflow-y: visible;
}
.modal-footer {
    padding: 20px 15px 20px;
}


.minWidth650PX{
    min-width: 650px;
}
.boldName{
    font-weight:bold!important;
    font-size:15px!important;
}
.boldDate{
    font-weight:bold!important;
    font-size:16px!important;
    color:black!important;
}
.white{
    color:white!important;
}
.width80Precent{
    width:80%;
}
.width70Precent{
       width: 50%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.width85Precent{
    width:85%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.maxWidth120px{
    max-width:120px;
}
.maxWidth150px{
    max-width:150px;
}

















/*unknown*/
.pac-container{
    z-index:1051;
}
ul.main-navigation-menu li > ul.sub-menu > li > a {
    padding-left: 30px !important;
}
ul.main-navigation-menu > li > a i {
    float: left;
}
.badge {
    position: absolute;
    margin: -8px 0px 0px -5px;
    padding: 3px 5px;
    background-color: chocolate;
}
ul.main-navigation-menu li > ul.sub-menu > li :hover {
  background:lightGrey;
}
.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
    }

.margintop15{
    margin-top:15px!important;
}
.fontSizeMed{
    font-size:medium;
}
.input-group-addon, .input-group-btn {
  width: 0%;
}
.widh100Precent{
    width:100%;
}
.btnMarginTop{
    margin-top:15px;
}
.editableText{
      font-family: 'Raleway', sans-serif !important;
      font-size: 24px !important;
}
.borderTop{
   border-top: 1px solid grey;
  width: 45px;
  margin: 15px -10px 0px 0px;
  padding: 10px 0px 5px 5px;
  font-size: 13px;
}
.popover {
  z-index: 2000;
}
.clockpicker-popover {
z-index: 999999 !important;
}
.page-header {
  border-bottom: none;
}
.breadcrumb >li:first-child {
    margin-left: 7px;
}
.breadcrumb >li {
    margin-left: -4px;
}
.page-header h1 {
    margin: 0 15px 15px;
}
.breadcrumb {
    padding: 15px 45px 20px 35px;
}
.textFiledMargin{
  margin: 0px 0px 15px 0;
}
.panelsMargin{
    margin-left:15px;
}
.colMarginLeft{
    margin-left:7px!important;
}
.marginRight3{
    margin-right:3px;
}
.marginLeft50{
    margin-left:50px;
}
.colMarginRight{
    margin-right:15px;
}
.tabs-left .tab-content, .tabs-right .tab-content {
  overflow: hidden;
}
.txtInsideEditableTable {
    color: black !important;
    border: none !important;
    border-color: transparent !important;
    text-align:center;
     background: rgba(255, 255, 255, 0.1) !important;
}
.rateText{
    width: 60px!important;
}
.txtInsideEditableTable:focus{
    background-color: lightgray !important;
}
.txtInsideEditableTable.HugeTextFiled.Name{
    font-size:large;
    text-align: left;
}

.modal-body {
    position: relative;
    padding: 15px 7px 0 7px;
}
small, .small {
    font-size: 85%;
}

.validationMsg {
    font-size: x-small;
    padding: 2px;
       color: #e28585!important;
}
.navbar-collapse.in {
    margin-top: -7px;
}
.navbar > .container .navbar-brand, .logo {
    min-width: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}
.overlay{
  display:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8); /*dim the background*/
}





/*animation*/
@-moz-keyframes spinPulse {
      0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #577191;
      }
      50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
      }
      100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
      }
}

@media (max-width: 992px) {
    .horizenTitle {
        margin-left: 7px;
    }
}


@media (max-width: 768px) {
    #openSmallMenue{
    display:block!important;
}
   
    .smallViewBorderTop{
        border-top: 2px solid lightgray;
        padding-top: 20px;
    }
    .main-navigation-not-menu {
     top: 0px; 
     margin-bottom:40px;
     }
    .modal-content {
    margin-left: 7px;
}
    .HugeTextFiled.Name {
    border: none;
   margin-left: -7px!important;
}
    .fixSavePosition {
       right: 10px;
    }
    .marginLeftSmallView{
        margin-left:15px!important;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

       padding-left: 3px;
       padding-right: 3px;
}
    .zoneMainImgContainer.colMarginLeft{
            margin-left: 0;
    }
    .main-container {
          margin-top: 0px;
   }
    .zoneMainImgContainer {
        width: 100%;
    }
    .firstRowMargin {
        margin: 0;
    }
 
    .navbar-inverse {
        position: relative; 
    }
    .breadcrumb {

      position: inherit;

    }
    ul.main-navigation-menu li > ul.sub-menu {

    margin: 0;
  
    }

    modal-footer {
       padding: 5px 7px 5px;
    }
    .modal-body {
        position: relative;
        padding: 4px;
    }
   

    
    ::-webkit-scrollbar
     {
      width: 4px; 
      height: 4px;
     }
    .panel-body {
    padding: 10px 3px 10px 3px;
    }
    
    
}

@media (max-width: 343px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        z-index: 0;
    }
}
