<div class="row" ng-if="user">
    <ol class="breadcrumb">

        <li>

            <a class="horizenTitle inline fixbread" ui-sref="admin.users">{{'ADMIN_ACCOUNT_USERS_USERS' | translate}}</a> 
        </li>
        
        <a class="pull-right boxAppAdmin" ng-click="nevigateTo()"><i class="clip-grid-3"></i></a>

    </ol>
    <div class="col-lg-12 col-md-12">
        <div class="page-header">
            <h1>{{'ADMIN_ACCOUNT_USER_USER' | translate}}</h1>
           
        </div>
        <div class="col-sm-7 col-md-5">
            <div class="user-left">
                <div class="center">
                    <h4>{{user.userProfile.firstName}} {{user.userProfile.lastName}}</h4>
                    <img class="user-image" ng-src={{user.userProfile.imgURL}} alt="">
                    <hr>

                </div>
                <table class="table table-condensed ">
                    <thead>
                        <tr>
                            <th colspan="3">{{"ADMIN_ACCOUNT_G_USER_PROFILE"| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_G_FIRST_NAME"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.firstName}}</span></td>
                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_G_LAST_NAME"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.lastName}}</span></td>

                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_PROFILE_COUNTRY"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.country}}</span></td>

                        </tr>
                        <tr>
                            <td>{{"G_EMAIL"| translate}}</td>
                            <td><a>{{user.userProfile.email}}</a></td>
                            <td ng-if="user.userProfile.emailConfirmed"><span class="pull-right">{{"ADMIN_ACCOUNT_USER_CONFIRM"| translate}}</span></td>
                            <td ng-if="!user.userProfile.emailConfirmed"><span class="pull-right">{{"ADMIN_ACCOUNT_USER_NOT_CONFIRM"| translate}}</span></td>
                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_G_USER_PHONE"| translate}}</td>
                            <td><a>{{user.userProfile.phoneNumber}}</a></td>
                            <td ng-if="user.userProfile.phoneConfirmed"><span class="pull-right">{{"ADMIN_ACCOUNT_USER_CONFIRM"| translate}}</span></td>
                            <td ng-if="!user.userProfile.phoneConfirmed"><span class="pull-right">{{"ADMIN_ACCOUNT_USER_NOT_CONFIRM"| translate}}</span></td>
                        </tr>

                    </tbody>
                </table>

                <table class="table table-condensed ">
                    <thead>
                        <tr>
                            <th colspan="3">{{"ADMIN_ACCOUNT_USER_DETAILS"| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_USER_CREATED"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.creationDate | date : "medium" : "UTC" }}</span></td>

                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_USER_LAST_LOGGEG_IN"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.lastLoginDateUtc | date : "medium" : "UTC" }}</span></td>

                        </tr>

                    </tbody>
                </table>
                <table class="table table-condensed ">
                    <thead>
                        <tr>
                            <th colspan="3">{{"ADMIN_ACCOUNT_USER_SECURITY"| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_USER_SECURITY_ACCESS_FAILED_COUNT"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.accessFailedCount}}</span></td>

                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_USER_SECURITY_LAST_FAILED_LOGIN"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.lastFailedLoginDateUtc | date : "medium" : "UTC" }}</span></td>

                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_USER_SECURITY_LOCK_OUT_ENABLED"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.lockoutEnabled}}</span></td>

                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_USER_SECURITY_LOCK_OUT_UTC"| translate}}</td>
                            <td></td>
                            <td><span class="pull-right">{{user.userProfile.lockoutEndDateUtc | date : "medium" : "UTC" }}</span></td>

                        </tr>

                    </tbody>
                </table>
                <div class="table-responsive">
                    <table class="table table-condensed" ng-if="user.claims.length>0">
                        <thead>
                            <tr>
                                <th colspan="3">{{"ADMIN_ACCOUNT_USER_CLAIMS"| translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in user.claims track by $index">
                                <td>{{c.claimType}}</td>
                                <td></td>
                                <td><span class="pull-right">{{c.claimValue}}</span></td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-7">
            <table class="table table-condensed ">
                <thead>
                    <tr>
                        <th colspan="3">{{"ADMIN_ACCOUNT_USER_SETTINGS"| translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{"ADMIN_ACCOUNT_LANGUAGE"| translate}}</td>
                        <td></td>
                        <td>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-med-grey ladda-button" data-toggle="dropdown" ladda="ladda.UIFormat" data-style="expand-right" data-spinner-size="30">{{currentUIFormat.displayName}}<span class="caret"></span></button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                    <li ng-repeat="l in LanguageList track by $index">
                                        <a ng-click="setUIFormat(l)">
                                            <img ng-src={{l.imgURL}} class="flagImg"><span class="title colMarginLeft">{{l.displayName}}</span><i class="icon-arrow"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>



                    </tr>
                </tbody>
            </table>
            <form name="passwordForm" novalidate>
                <table class="table table-condensed ">
                    <thead>
                        <tr>
                            <th colspan="3">{{"ADMIN_ACCOUNT_USER_ACTIONS"| translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td class="firstRow">{{"ADMIN_ACCOUNT_USER_RESET_PASS"| translate}}</td>
                            <td class="firstRow"></td>
                            <td class="firstRow">
                                <div class="pull-right">
                                    <div class="form-group">

                                        <div class="validationMsg" ng-messages="passwordForm.newPassword.$error" ng-if="passwordFormValidation">
                                            <div ng-message="minlength">{{'G_F_V_MIN_LENGTH' | translate : {count:6} }}</div>
                                        </div>

                                        <input type="password" name="newPassword" placeholder="{{'ADMIN_ACCOUNT_USER_NEW_PASS'|translate}}" class="form-control" ng-model="resetPassordObj.newPassword" minlength="6" />
                                    </div>
                                    <div class="form-group">

                                        <div class="validationMsg" ng-messages="passwordForm.confirm.$error" ng-if="passwordFormValidation">
                                            <div ng-message="compareTo">{{'G_F_V_CONFIRM_PASS' | translate }}</div>

                                        </div>

                                        <input type="password" name="confirm" class="form-control" placeholder="{{'ADMIN_ACCOUNT_USER_CONFIRM_PASS'|translate}}" ng-model="resetPassordObj.confirmPassword" compare-to="resetPassordObj.newPassword" />
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-dark-grey btnMinWidth ng-touched pull-right ladda-button" ladda="ladda.reset" data-style="expand-right" data-spinner-size="30" ng-click="resetPass(passwordForm.$valid)">{{"ADMIN_ACCOUNT_USER_RESET"| translate}}</button>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_USER_LOCK_USER"| translate}}</td>
                            <td></td>
                            <td>
                                <button ng-if="!user.userProfile.lockoutEnabled" type="button" class="btn btn-success ladda-button btnMinWidth pull-right" ng-click="lockUnLock(true)" ladda="ladda.lock" data-style="expand-right" data-spinner-size="30">{{"ADMIN_ACCOUNT_USER_LOCKOUT"| translate}}</button>
                                <button ng-if="user.userProfile.lockoutEnabled" type="button" class="btn btn-danger ladda-button btnMinWidth pull-right" ng-click="lockUnLock(false)" ladda="ladda.lock" data-style="expand-right" data-spinner-size="30">{{"ADMIN_ACCOUNT_USER_LOCK"| translate}}</button>
                            </td>
                            

                        </tr>
                        <tr>
                            <td>{{"ADMIN_ACCOUNT_USER_DELETE_USER"| translate}}</td>
                            <td></td>
                            <td><button class="btn btn-bricky btnMinWidth pull-right" data-toggle="modal" data-target="#deleteUser" data-backdrop="false">{{'G_DELETE' | translate}}</button></td>
                            

                        </tr>
                    </tbody>
                </table>
            </form>
            <table class="table table-condensed " ng-if="roles">
                <thead>
                    <tr>
                        <th colspan="3">{{"ADMIN_ACCOUNT_ROLES_ROLES"| translate}}s</th>
                    </tr>
                </thead>
            </table>
            <div class="table-responsive">
                <table class="table table-hover" id="sample-table-3">
                  
                  
                    <tbody>
                        <tr>
                            <td><b>{{'ADMIN_ACCOUNT_ROLES_CODE'|translate}}</b></td>
                            <td><b>{{'ADMIN_ACCOUNT_ROLES_DESCRIPTION'|translate}}</b></td>
                            <td><b class="pull-right">{{'G_CHECKED'|translate}}</b></td>

                        </tr>
                        <tr ng-repeat="tb in roles track by $index" ng-class="{disabled: !tb.enabled}">

                            <td>{{tb.roleID}}</td>
                            <td>{{tb.roleName}}</td>
                            <td>
                                <input class="pull-right" type="checkbox" ng-model="tb.checked" ng-disabled="!tb.enabled" />
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <button class="btn btn-dark-grey btnMinWidth ng-touched pull-right ladda-button" ladda="ladda.setRoles" data-style="expand-right" data-spinner-size="30" ng-click="setUserRoles()">{{"G_SAVE"| translate}}</button>
        </div>
    </div>
</div>

<div id="deleteUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Secure user deletion
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Enter your e-mail to delete user</label>
                   
                    <input type="text" ng-model="deleteConfirm" class="form-control">
                </div>
  
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">
              {{'Close' | translate}}
                </button>
                <button type="button" class="btn btn-dark-grey ladda-button" ng-click="delete()" ladda="ladda.delUser" data-style="expand-right" data-spinner-size="30">

                 {{'G_DELETE' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>