
<div class="row">

 
  
        <div class="fc-header-right">
            <span ng-click="goTo('Alerts')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('device.GSI_device.settings.alerts')}" data-toggle="tooltip" title="Alerts"><i class="clip-stats"></i></span>
            <span ng-click="goTo('Units')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('device.GSI_device.settings.unit')}" data-toggle="tooltip" title="Unit"><i class="clip-tablet"></i></span>
            <span ng-click="goTo('Stations')" class="fc-button fc-button-month fc-state-default fc-corner-left" ng-class="{active: $state.includes('device.GSI_device.settings.stations')}" data-toggle="tooltip" title="Stations"><i class="clip-droplet"></i></span>
        </div>
        <br />
        <br />
        <div  ui-view="">
        </div>
    

</div>


